<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900"  />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="http://www.ansonika.com/theme_selector/assets/css/default.css" />
    <link rel="stylesheet" href="http://www.ansonika.com/theme_selector/assets/fontello/css/fontello.css" />
    <link rel="stylesheet" href="http://www.ansonika.com/theme_selector/admin/assets/css/attributes.css" />
    <link rel="stylesheet" href="{{ dir }}/assets/css/style.css" />

    <title>Pengusulan Anga Kredit Guru</title>

    <link rel="shortcut icon" href="{{ dir }}/assets/img/sumut-logo.png" type="image/png" />
    <link rel="icon" href="{{ dir }}/assets/img/sumut-logo.png" type="image/png" />
  </head>

  <body {% if save == true %}onload="onSave()"{% endif %}>
    <div id="wrapper">
      <div class="box-container">
          <a href="/" class="close-app" style="
            font-size: larger;
            font-weight: bold;
            color: red;
            float: right;
            margin-top: -35px;
            margin-right: -35px;
          ">[x]</a>
        <div class="container">
          <div class="main-header">
            <h3>PENGUSULAN ANGKA KREDIT JABATAN FUNGSIONAL GURU <br />DINAS PENDIDIKAN PROVINSI SUMATERA UTARA</h3>
          </div>

          <div id="wizard_container" class="wizard" style="width: 100%">
            <div id="top-wizard">
              <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="display: none; width: 0%;"></div></div>
            </div>

            <form id="wrapped" method="POST" action="#" class="wizard-form">

              <div id="middle-wizard" class="wizard-branch wizard-wrapper">
                <div class="step wizard-step current">
                  <div class="form-block">
                    <h3 class="main_question wizard-header">Keterangan Perseorangan</h3>

                    <div class="row">
                      <input type="hidden" name="pak_id" value="{{ guru.pak_id }}" />
                      <input type="hidden" name="ptk_id" value="{{ guru.ptk_id }}" />
                      <div class="col-sm-6 form-group">
                        <label for="nama">Nama</label>
  
                        <input type="text" id="nama" name="firstname" class="form-control" placeholder="Isikan Nama Anda disini" value="{{ guru.nama }}" disabled />
                      </div>
                      
                      <div class="col-sm-6 form-group">
                        <label for="nip">NIP</label>
  
                        <input type="text" id="nip" name="lastname" class="form-control" placeholder="Isikan nomor NIP Anda disini" value="{{ guru.nip }}" disabled />
                      </div>
  
                      <div class="col-sm-6 form-group">
                        <label for="tempat_lahir">Tempat Lahir</label>
  
                        <input type="text" id="tempat_lahir" name="tempat_lahir" class="form-control" placeholder="Isikan Tempat Anda Lahir disini" value="{{ guru.tempat_lahir }}" />
                      </div>
                      
                      <div class="col-sm-6 form-group">
                        <label for="tgl_lahir">Tanggal Lahir</label>
  
                        <input type="date" id="tgl_lahir" name="tgl_lahir" class="form-control" placeholder="Isikan Tanggal Lahir Anda disini" value="{{ guru.tgl_lahir }}"/>
                      </div>
  
                      <div class="col-sm-6">
                        <label for="gender">Jenis Kelamin</label>
  
                        <div class="form-group radio_input">
                          <label class="container_radio">Laki-Laki
                            <input type="radio" name="gender" value="Male" class="required" {% if guru.jenis_kelamin == 1 %}checked="checked"{% endif %}>
                            <span class="checkmark"></span>
                          </label>
  
                          <label class="container_radio">Perempuan
                            <input type="radio" name="gender" value="Female" class="required" {% if guru.jenis_kelamin == 2 %}checked="checked"{% endif %}>
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
  
                      <div class="col-sm-6 form-group">
                        <label for="pendidikan">Pendidikan yang telah diperhitungkan angka Kreditnya</label>
  
                        <input type="text" id="pendidikan" name="pendidikan" class="form-control" placeholder="D3 / S1 / S2 / S3" value="{{ guru.pendidikan }}" />
                      </div>
  
                      <div class="col-sm-12 form-group">
                        <label for="pangkat">Pangkat / Golongan Ruang / TMT</label>
  
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="text" id="pangkat" name="pangkat" class="form-control" placeholder="Isikan Pangkat Anda" value="{{ guru.nama_pangkat_golongan }}"  />
                          </div>
  
<!--                          <div class="col-sm-3">-->
<!--                            <input type="text" id="gol-ruang" name="gol-ruang" class="form-control" placeholder="Nomor Gol. Ruang" />-->
<!--                          </div>-->
  
                          <div class="col-sm-6">
                            <input type="date" id="tmt_pangkat" name="tmt_pangkat" class="form-control" placeholder="Isikan TMT Anda" value="{{ guru.tmt_pangkat }}" />
                          </div>
                        </div>
                      </div>
  
                      <div class="col-sm-12 form-group">
                        <label for="jabatan">Jabatan / TMT</label>
  
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="text" id="jabatan" name="jabatan" class="form-control" placeholder="Isikan Jabatan Anda" value="Guru Madya" />
                          </div>
  
                          <div class="col-sm-6">
                            <input type="date" id="tmt_jabatan" name="tmt_jabatan" class="form-control" placeholder="Isikan TMT Anda" value="{{ guru.tmt_pangkat }}" />
                          </div>
                        </div>
                      </div>
  
<!--                      <div class="col-sm-6 form-group">-->
<!--                        <label for="masa-lama">Masa Kerja Golongan Lama</label>-->
<!--  -->
<!--                        <input type="date" id="jabatan" name="jabatan" class="form-control" placeholder="Isikan Jabatan Anda" />-->
<!--                      </div>-->
<!--  -->
<!--                      <div class="col-sm-6 form-group">-->
<!--                        <label for="masa-lama">Masa Kerja Golongan Baru</label>-->
<!--  -->
<!--                        <input type="date" id="tmt-jabatan" name="tmt-jabatan" class="form-control" placeholder="Isikan TMT Anda" />-->
<!--                      </div>-->
  
                      <div class="col-sm-12 form-group">
                        <label for="jabatan">Jenis Guru</label>
  
                        <input type="text" id="jabatan" name="jabatan" class="form-control" placeholder="Isikan Jenis Guru Anda" value="{{ guru.jabatan }}" />
                      </div>
  
                      <div class="col-sm-12 form-group">
                        <label for="masa-lama">Tugas</label>
  
                        <input type="text" id="tugas" name="tugas" class="form-control" placeholder="Isikan Tugas Anda" value="Mengajar {{ guru.mapel_diajarkan }}" />
                      </div>
  
                      <div class="col-sm-12 form-group">
                        <label for="jabatan">Alamat</label>
  
                        <div class="row">
                          <div class="col-sm-6">
                            <input type="text" id="nama_sekolah" name="nama_sekolah" class="form-control" placeholder="Isikan Nama Sekolah Anda" value="{{ guru.nama_sekolah }}" disabled />
                          </div>
  
                          <div class="col-sm-6">
                            <input type="text" id="alamat" name="alamat" class="form-control" placeholder="Isikan Alamat Rumah Anda" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-block">
                    <h3 class="main_question wizard-header">Penetapan Angka Kredit</h3>

                    <div class="form-inner">
                      <h4>1. Unsur Utama</h4>

                      <div class="row">
                        <div class="col-sm-12">
                          <ol type="a" style="padding-left: 40px">
                            <li>

                              <div class="row">
                                <div class="col-sm-6" style="margin-right: 20px; !important">Pendidikan</div>
                                <div class="col-sm-2">AK Lama</div>
                                <div class="col-sm-2">AK Usulan</div>
                                <div class="col-sm-1">Jumlah</div>
                              </div>
                              <ol type="1" style="padding-left: 17px; padding-top: 20px; border-top: 1px solid #efefef; margin-top: 20px;">
                                <li>
                                  <div class="row">
                                    <div class="col-sm-12 form-group">
                                      <div class="row align-items-center">
                                        <div class="col-sm-6">
                                          <label for="pangkat">Pendidikan Sekolah</label>
                                        </div>

                                        <div class="col-sm-2">
                                          <input type="number" step="0.01" id="utama_a1_lama" name="utama_a1_lama" class="form-control" placeholder="-" {% if guru.utama_a1_lama %}value="{{ guru.utama_a1_lama }}"{% endif %} />
                                        </div>
                
                                        <div class="col-sm-2">
                                          <input type="number" step="0.01" id="utama_a1_usulan" name="utama_a1_usulan" class="form-control" placeholder="-" {% if guru.utama_a1_usulan %}value="{{ guru.utama_a1_usulan }}"{% endif %} />
                                        </div>
                
                                        <div class="col-sm-2">
                                          <input type="number" step="0.01" id="a1_jumlah" name="a1_jumlah" class="form-control" placeholder="-" disabled {% if guru.utama_a1_lama or guru.utama_a1_usulan %}value="{{ guru.utama_a1_lama + guru.utama_a1_usulan }}"{% endif %} />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>

                                <li>
                                  <div class="row">
                                    <div class="col-sm-12 form-group">
                                      <div class="row align-items-center">
                                        <div class="col-sm-6">
                                          <label for="pangkat">Pelatihan Prajabatan</label>
                                        </div>

                                        <div class="col-sm-2">
                                          <input type="number" step="0.01" id="utama_a2_lama" name="utama_a2_lama" class="form-control" placeholder="-" {% if guru.utama_a2_lama %}value="{{ guru.utama_a2_lama }}"{% endif %} />
                                        </div>
                
                                        <div class="col-sm-2">
                                          <input type="number" step="0.01" id="utama_a2_usulan" name="utama_a2_usulan" class="form-control" placeholder="-" {% if guru.utama_a2_usulan %}value="{{ guru.utama_a2_usulan }}"{% endif %} />
                                        </div>
                
                                        <div class="col-sm-2">
                                          <input type="number" step="0.01" id="a2-jumlah" name="a2-jumlah" class="form-control" placeholder="-" {% if guru.utama_a2_lama or guru.utama_a2_usulan %}value="{{ guru.utama_a2_lama + guru.utama_a2_usulan }}"{% endif %} disabled />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ol>
                            </li>

                            <li>
                              <div class="row">
                                <div class="col-sm-12 form-group">
                                  <div class="row align-items-center">
                                    <div class="col-sm-6">Pembelajaran/bimbingan dan tugas tertentu</div>

                                    <div class="col-sm-2">
                                      <input type="number" step="0.01" id="utama_b1_lama" name="utama_b1_lama" class="form-control" placeholder="-" {% if guru.utama_b1_lama %}value="{{ guru.utama_b1_lama }}"{% endif %} />
                                    </div>
            
                                    <div class="col-sm-2">
                                      <input type="number" step="0.01" id="utama_b1_usulan" name="utama_b1_usulan" class="form-control" placeholder="-" {% if guru.utama_b1_usulan %}value="{{ guru.utama_b1_usulan }}"{% endif %} />
                                    </div>
            
                                    <div class="col-sm-2">
                                      <input type="number" step="0.01" id="b1_jumlah" name="b1_jumlah" class="form-control" placeholder="-" {% if guru.utama_b1_lama or guru.utama_b1_usulan %}value="{{ guru.utama_b1_lama + guru.utama_b1_usulan }}"{% endif %} disabled />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>

                            <li>
                              Pengembangan Keprofesian Berkelanjutan

                              <ol type="1" style="padding-left: 17px; padding-top: 20px; border-top: 1px solid #efefef; margin-top: 20px;">
                                <li>
                                  <div class="row">
                                    <div class="col-sm-12 form-group">
                                      <div class="row align-items-center">
                                        <div class="col-sm-6">
                                          <label for="pangkat">Pengembangan Diri</label>
                                        </div>

                                        <div class="col-sm-2">
                                          <input type="number" step="0.01" id="utama_c1_lama" name="utama_c1_lama" class="form-control" placeholder="-" {% if guru.utama_c1_lama %}value="{{ guru.utama_c1_lama }}"{% endif %} />
                                        </div>
                
                                        <div class="col-sm-2">
                                          <input type="number" step="0.01" id="utama_c1_usulan" name="utama_c1_usulan" class="form-control" placeholder="-" {% if guru.utama_c1_usulan %}value="{{ guru.utama_c1_usulan }}"{% endif %} />
                                        </div>
                
                                        <div class="col-sm-2">
                                          <input type="number" step="0.01" id="c1_jumlah" name="c1_jumlah" class="form-control" placeholder="-" {% if guru.utama_c1_lama or guru.utama_c1_usulan %}value="{{ guru.utama_c1_lama + guru.utama_c1_usulan }}"{% endif %} disabled />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>

                                <li>
                                  <div class="row">
                                    <div class="col-sm-12 form-group">
                                      <div class="row align-items-center">
                                        <div class="col-sm-6">
                                          <label for="pangkat">Publikasi Ilmiah</label>
                                        </div>

                                        <div class="col-sm-2">
                                          <input type="number" step="0.01" id="utama_c2_lama" name="utama_c2_lama" class="form-control" placeholder="-" {% if guru.utama_c2_lama %}value="{{ guru.utama_c2_lama }}"{% endif %} />
                                        </div>
                
                                        <div class="col-sm-2">
                                          <input type="number" step="0.01" id="utama_c2_usulan" name="utama_c2_usulan" class="form-control" placeholder="-" {% if guru.utama_c2_usulan %}value="{{ guru.utama_c2_usulan }}"{% endif %} />
                                        </div>
                
                                        <div class="col-sm-2">
                                          <input type="number" step="0.01" id="c2_jumlah" name="c2_jumlah" class="form-control" placeholder="-" {% if guru.utama_c2_lama or guru.utama_c2_usulan %}value="{{ guru.utama_c2_lama + guru.utama_c2_usulan }}"{% endif %} disabled />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>

                                <li>
                                  <div class="row">
                                    <div class="col-sm-12 form-group">
                                      <div class="row align-items-center">
                                        <div class="col-sm-6">
                                          <label for="pangkat">Karya Inovatif</label>
                                        </div>

                                        <div class="col-sm-2">
                                          <input type="number" step="0.01" id="utama_c3_lama" name="utama_c3_lama" class="form-control" placeholder="-" {% if guru.utama_c3_lama %}value="{{ guru.utama_c3_lama }}"{% endif %} />
                                        </div>
                
                                        <div class="col-sm-2">
                                          <input type="number" step="0.01" id="utama_c3_usulan" name="utama_c3_usulan" class="form-control" placeholder="-" {% if guru.utama_c3_usulan %}value="{{ guru.utama_c3_usulan }}"{% endif %} />
                                        </div>
                
                                        <div class="col-sm-2">
                                          <input type="number" step="0.01" id="c3_jumlah" name="c3_jumlah" class="form-control" placeholder="-" {% if guru.utama_c3_lama or guru.utama_c3_usulan %}value="{{ guru.utama_c3_lama + guru.utama_c3_usulan }}"{% endif %} disabled />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ol>
                            </li>
                          </ol>
                        </div>
                      </div>
                    </div>

                    <div class="form-inner">
                      <h4>2. Unsur Penunjang</h4>

                      <div class="row">
                        <div class="col-sm-12">
                          <ol type="a" style="padding-left: 40px">
                            <li>
                              <div class="row">
                                <div class="col-sm-12 form-group">
                                  <div class="row align-items-center">
                                    <div class="col-sm-6">Ijazah yang tidak sesuai</div>

                                    <div class="col-sm-2">
                                      <input type="number" step="0.01" id="penunjang_a_lama" name="penunjang_a_lama" class="form-control" placeholder="-" {% if guru.penunjang_a_lama %}value="{{ guru.penunjang_a_lama }}"{% endif %} />
                                    </div>
            
                                    <div class="col-sm-2">
                                      <input type="number" step="0.01" id="penunjang_a_usulan" name="penunjang_a_usulan" class="form-control" placeholder="-" {% if guru.penunjang_a_usulan %}value="{{ guru.penunjang_a_usulan }}"{% endif %} />
                                    </div>
            
                                    <div class="col-sm-2">
                                      <input type="number" step="0.01" id="penunjang_a_jumlah" name="penunjang_a_jumlah" class="form-control" placeholder="-" {% if guru.penunjang_a_lama or guru.penunjang_a_usulan %}value="{{ guru.penunjang_a_lama + guru.penunjang_a_usulan }}"{% endif %} disabled />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="row">
                                <div class="col-sm-12 form-group">
                                  <div class="row align-items-center">
                                    <div class="col-sm-6">Pendukung Tugas Guru</div>

                                    <div class="col-sm-2">
                                      <input type="number" step="0.01" id="penunjang_b_lama" name="penunjang_b_lama" class="form-control" placeholder="-" {% if guru.penunjang_b_lama %}value="{{ guru.penunjang_b_lama }}"{% endif %} />
                                    </div>
            
                                    <div class="col-sm-2">
                                      <input type="number" step="0.01" id="penunjang_b_usulan" name="penunjang_b_usulan" class="form-control" placeholder="-" {% if guru.penunjang_b_usulan %}value="{{ guru.penunjang_b_usulan }}"{% endif %} />
                                    </div>
            
                                    <div class="col-sm-2">
                                      <input type="number" step="0.01" id="penunjang_b_jumlah" name="penunjang_b_jumlah" class="form-control" placeholder="-" {% if guru.penunjang_b_lama or guru.penunjang_b_usulan %}value="{{ guru.penunjang_b_lama + guru.penunjang_b_usulan }}"{% endif %} disabled />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="row">
                                <div class="col-sm-12 form-group">
                                  <div class="row align-items-center">
                                    <div class="col-sm-6">Memperoleh Penghargaan</div>

                                    <div class="col-sm-2">
                                      <input type="number" step="0.01" id="penunjang_c_lama" name="penunjang_c_lama" class="form-control" placeholder="-" {% if guru.penunjang_c_lama %}value="{{ guru.penunjang_c_lama }}"{% endif %} />
                                    </div>

                                    <div class="col-sm-2">
                                      <input type="number" step="0.01" id="penunjang_c_usulan" name="penunjang_c_usulan" class="form-control" placeholder="-" {% if guru.penunjang_c_usulan %}value="{{ guru.penunjang_c_usulan }}"{% endif %} />
                                    </div>
            
                                    <div class="col-sm-2">
                                      <input type="number" step="0.01" id="penunjang_c_jumlah" name="penunjang_c_jumlah" class="form-control" placeholder="-" {% if guru.penunjang_c_lama or guru.penunjang_c_usulan %}value="{{ guru.penunjang_c_lama + guru.penunjang_c_usulan }}"{% endif %} disabled />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- <div class="form-group terms">
                    <label class="container_check">Please accept our <a href="#" data-toggle="modal" data-target="#terms-txt">Terms and conditions</a>
                      <input type="checkbox" name="terms" value="Yes" class="required">
                      <span class="checkmark"></span>
                    </label>
                  </div> -->
                </div>
              </div>

              <div id="bottom-wizard">
                <a href="epak/cetak/{{ guru.pak_id }}" class="btn btn-info forward">Cetak</a>
                <button type="submit" name="process" class="submit">Simpan</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="http://www.ansonika.com/theme_selector/assets/js/znloader.js"></script>
    <script type="text/javascript">
      function onSave() {
        alert('Data berhasil disimpan!');
      }
    </script>
  </body>
</html>