body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px
}

.wrapper {
  position: relative;
  width: 100%
}

.header {
  display: block
}

.header .top-header {
  position: relative;
  display: block;
  background-image: url(../img/header-bg.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60px
}

.header .top-header .logo { padding-top: 4px }

.header .top-header .logo img {
  max-width: 40px;
  float: left
}

.header .top-header .logo .logo-text {
  font-family: 'Raleway', sans-serif;
  padding-left: 50px;
  font-size: 24px;
  color: #fefefe;
  margin-top: 9px
}

.navbar {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e4e4e4;
}

.navbar .navbar-nav {}

.navbar .navbar-nav .nav-item {
  background-color: #f6f6f6;
  margin: 0 5px;
  border: 1px solid #e4e4e4
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 0.8125rem;
  color: #606060
}

.navbar .navbar-nav .nav-item .nav-link i {}

.dropdown-menu {
  font-size: 0.8125rem;
  border-radius: 0;
  border: none;
  box-shadow: 2px 4px 30px #cdcdcd61
}

.dropdown-menu .dropdown-item {
  padding: .5rem 1.5rem;
  border-bottom: 1px solid #eee;
  border-radius: 0
}

.dropdown-menu .dropdown-item:last-child { border-bottom: none }

.content {
  width: 100%;
  position: relative;
}

.content .inner-content { padding: 20px }

.section {
  position: relative;
  padding: 10px 0;
  margin: 10px 0
}

.mainslider {
  position: relative;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.02), 0 3px 20px rgba(0, 0, 0, 0.11)
}

.mainslider .owl-nav {
  position: absolute;
  bottom: 0;
}

.mainslider .owl-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 100%
}

.mainslider .owl-dots .owl-dot { outline: none }

.mainslider .owl-dots .owl-dot span {
  margin: 5px;
  background: #ffffff6b
}

.statistic {
  position: relative;
  margin-left: -16px;
  margin-right: -16px
}

.statistic .statistic-block {
  width: 45%;
  float: left;
  margin: 0 16px 22px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.02), 0 3px 20px rgba(0, 0, 0, 0.11);
  transform: translateY(0);
  transition: all .3s ease-in-out
}

.statistic .statistic-block:hover { transform: translateY(-4px) }

.statistic .statistic-block.pangkat-bg h4 {
  background: rgba(160,190,224,1);
  background: -moz-linear-gradient(-45deg, rgba(160,190,224,1) 0%, rgba(160,190,224,1) 51%, rgba(144,178,214,1) 83%, rgba(160,190,224,1) 85%, rgba(160,190,224,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(160,190,224,1)), color-stop(51%, rgba(160,190,224,1)), color-stop(83%, rgba(144,178,214,1)), color-stop(85%, rgba(160,190,224,1)), color-stop(100%, rgba(160,190,224,1)));
  background: -webkit-linear-gradient(-45deg, rgba(160,190,224,1) 0%, rgba(160,190,224,1) 51%, rgba(144,178,214,1) 83%, rgba(160,190,224,1) 85%, rgba(160,190,224,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(160,190,224,1) 0%, rgba(160,190,224,1) 51%, rgba(144,178,214,1) 83%, rgba(160,190,224,1) 85%, rgba(160,190,224,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(160,190,224,1) 0%, rgba(160,190,224,1) 51%, rgba(144,178,214,1) 83%, rgba(160,190,224,1) 85%, rgba(160,190,224,1) 100%);
  background: linear-gradient(135deg, rgba(160,190,224,1) 0%, rgba(160,190,224,1) 51%, rgba(144,178,214,1) 83%, rgba(160,190,224,1) 85%, rgba(160,190,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0bee0', endColorstr='#a0bee0', GradientType=1 )
}

.statistic .statistic-block.pangkat-bg .statistic-value {
  background-color: #ddebf6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='336' height='336' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23f2f3f6' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23f6f6f6'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E")
}

.statistic .statistic-block.gaji-bg h4 {
  background: rgba(224,183,89,1);
  background: -moz-linear-gradient(-45deg, rgba(224,183,89,1) 0%, rgba(224,183,89,1) 51%, rgba(214,173,77,1) 83%, rgba(224,183,89,1) 85%, rgba(224,183,89,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(224,183,89,1)), color-stop(51%, rgba(224,183,89,1)), color-stop(83%, rgba(214,173,77,1)), color-stop(85%, rgba(224,183,89,1)), color-stop(100%, rgba(224,183,89,1)));
  background: -webkit-linear-gradient(-45deg, rgba(224,183,89,1) 0%, rgba(224,183,89,1) 51%, rgba(214,173,77,1) 83%, rgba(224,183,89,1) 85%, rgba(224,183,89,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(224,183,89,1) 0%, rgba(224,183,89,1) 51%, rgba(214,173,77,1) 83%, rgba(224,183,89,1) 85%, rgba(224,183,89,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(224,183,89,1) 0%, rgba(224,183,89,1) 51%, rgba(214,173,77,1) 83%, rgba(224,183,89,1) 85%, rgba(224,183,89,1) 100%);
  background: linear-gradient(135deg, rgba(224,183,89,1) 0%, rgba(224,183,89,1) 51%, rgba(214,173,77,1) 83%, rgba(224,183,89,1) 85%, rgba(224,183,89,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0b759', endColorstr='#e0b759', GradientType=1 )
}

.statistic .statistic-block.gaji-bg .statistic-value {
  background-color: #ffe699;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='336' height='336' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23fff9c3' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23fef9bd'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E")
}

.statistic .statistic-block.mutasi-bg h4 {
  background: rgba(236,125,46,1);
  background: -moz-linear-gradient(-45deg, rgba(236,125,46,1) 0%, rgba(236,125,46,1) 51%, rgba(224,114,40,1) 83%, rgba(236,125,46,1) 85%, rgba(236,125,46,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(236,125,46,1)), color-stop(51%, rgba(236,125,46,1)), color-stop(83%, rgba(224,114,40,1)), color-stop(85%, rgba(236,125,46,1)), color-stop(100%, rgba(236,125,46,1)));
  background: -webkit-linear-gradient(-45deg, rgba(236,125,46,1) 0%, rgba(236,125,46,1) 51%, rgba(224,114,40,1) 83%, rgba(236,125,46,1) 85%, rgba(236,125,46,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(236,125,46,1) 0%, rgba(236,125,46,1) 51%, rgba(224,114,40,1) 83%, rgba(236,125,46,1) 85%, rgba(236,125,46,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(236,125,46,1) 0%, rgba(236,125,46,1) 51%, rgba(224,114,40,1) 83%, rgba(236,125,46,1) 85%, rgba(236,125,46,1) 100%);
  background: linear-gradient(135deg, rgba(236,125,46,1) 0%, rgba(236,125,46,1) 51%, rgba(224,114,40,1) 83%, rgba(236,125,46,1) 85%, rgba(236,125,46,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec7d2e', endColorstr='#ec7d2e', GradientType=1 )
}

.statistic .statistic-block.mutasi-bg .statistic-value {
  background-color: #fed966;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='296' height='296' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23feed7b' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23feec85'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E")
}

.statistic .statistic-block.penugasan-bg h4 {
  background: rgba(124,122,123,1);
  background: -moz-linear-gradient(-45deg, rgba(124,122,123,1) 0%, rgba(124,122,123,1) 51%, rgba(107,106,106,1) 83%, rgba(124,122,123,1) 85%, rgba(124,122,123,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(124,122,123,1)), color-stop(51%, rgba(124,122,123,1)), color-stop(83%, rgba(107,106,106,1)), color-stop(85%, rgba(124,122,123,1)), color-stop(100%, rgba(124,122,123,1)));
  background: -webkit-linear-gradient(-45deg, rgba(124,122,123,1) 0%, rgba(124,122,123,1) 51%, rgba(107,106,106,1) 83%, rgba(124,122,123,1) 85%, rgba(124,122,123,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(124,122,123,1) 0%, rgba(124,122,123,1) 51%, rgba(107,106,106,1) 83%, rgba(124,122,123,1) 85%, rgba(124,122,123,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(124,122,123,1) 0%, rgba(124,122,123,1) 51%, rgba(107,106,106,1) 83%, rgba(124,122,123,1) 85%, rgba(124,122,123,1) 100%);
  background: linear-gradient(135deg, rgba(124,122,123,1) 0%, rgba(124,122,123,1) 51%, rgba(107,106,106,1) 83%, rgba(124,122,123,1) 85%, rgba(124,122,123,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7a7b', endColorstr='#7c7a7b', GradientType=1 )
}

.statistic .statistic-block.penugasan-bg .statistic-value {
  background-color: #d5dce4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='296' height='296' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23dfe6ef' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23eef6ff'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E")
}

.statistic .statistic-block.guru-bg h4 {
  background: rgba(86,76,203,1);
  background: -moz-linear-gradient(-45deg, rgba(86,76,203,1) 0%, rgba(86,76,203,1) 51%, rgba(74,66,189,1) 83%, rgba(86,76,203,1) 85%, rgba(86,76,203,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(86,76,203,1)), color-stop(51%, rgba(86,76,203,1)), color-stop(83%, rgba(74,66,189,1)), color-stop(85%, rgba(86,76,203,1)), color-stop(100%, rgba(86,76,203,1)));
  background: -webkit-linear-gradient(-45deg, rgba(86,76,203,1) 0%, rgba(86,76,203,1) 51%, rgba(74,66,189,1) 83%, rgba(86,76,203,1) 85%, rgba(86,76,203,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(86,76,203,1) 0%, rgba(86,76,203,1) 51%, rgba(74,66,189,1) 83%, rgba(86,76,203,1) 85%, rgba(86,76,203,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(86,76,203,1) 0%, rgba(86,76,203,1) 51%, rgba(74,66,189,1) 83%, rgba(86,76,203,1) 85%, rgba(86,76,203,1) 100%);
  background: linear-gradient(135deg, rgba(86,76,203,1) 0%, rgba(86,76,203,1) 51%, rgba(74,66,189,1) 83%, rgba(86,76,203,1) 85%, rgba(86,76,203,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#564ccb', endColorstr='#564ccb', GradientType=1 )
}

.statistic .statistic-block.guru-bg .statistic-value {
  background-color: #e0ddff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='296' height='296' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23f6f2ff' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23ffffff'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E")
}

.statistic .statistic-block.tendik-bg h4 {
  background: rgba(112,172,74,1);
  background: -moz-linear-gradient(-45deg, rgba(112,172,74,1) 0%, rgba(112,172,74,1) 51%, rgba(103,161,64,1) 83%, rgba(112,172,74,1) 85%, rgba(112,172,74,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(112,172,74,1)), color-stop(51%, rgba(112,172,74,1)), color-stop(83%, rgba(103,161,64,1)), color-stop(85%, rgba(112,172,74,1)), color-stop(100%, rgba(112,172,74,1)));
  background: -webkit-linear-gradient(-45deg, rgba(112,172,74,1) 0%, rgba(112,172,74,1) 51%, rgba(103,161,64,1) 83%, rgba(112,172,74,1) 85%, rgba(112,172,74,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(112,172,74,1) 0%, rgba(112,172,74,1) 51%, rgba(103,161,64,1) 83%, rgba(112,172,74,1) 85%, rgba(112,172,74,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(112,172,74,1) 0%, rgba(112,172,74,1) 51%, rgba(103,161,64,1) 83%, rgba(112,172,74,1) 85%, rgba(112,172,74,1) 100%);
  background: linear-gradient(135deg, rgba(112,172,74,1) 0%, rgba(112,172,74,1) 51%, rgba(103,161,64,1) 83%, rgba(112,172,74,1) 85%, rgba(112,172,74,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70ac4a', endColorstr='#70ac4a', GradientType=1 )
}

.statistic .statistic-block.tendik-bg .statistic-value {
  background-color: #c6e0b3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='280' height='280' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23d4f0c0' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23ddfac8'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E")
}

.statistic .statistic-block.pak-bg h4 {
  background: rgba(254,0,0,1);
  background: -moz-linear-gradient(-45deg, rgba(254,0,0,1) 0%, rgba(254,0,0,1) 51%, rgba(235,5,5,1) 83%, rgba(254,0,0,1) 85%, rgba(254,0,0,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(254,0,0,1)), color-stop(51%, rgba(254,0,0,1)), color-stop(83%, rgba(235,5,5,1)), color-stop(85%, rgba(254,0,0,1)), color-stop(100%, rgba(254,0,0,1)));
  background: -webkit-linear-gradient(-45deg, rgba(254,0,0,1) 0%, rgba(254,0,0,1) 51%, rgba(235,5,5,1) 83%, rgba(254,0,0,1) 85%, rgba(254,0,0,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(254,0,0,1) 0%, rgba(254,0,0,1) 51%, rgba(235,5,5,1) 83%, rgba(254,0,0,1) 85%, rgba(254,0,0,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(254,0,0,1) 0%, rgba(254,0,0,1) 51%, rgba(235,5,5,1) 83%, rgba(254,0,0,1) 85%, rgba(254,0,0,1) 100%);
  background: linear-gradient(135deg, rgba(254,0,0,1) 0%, rgba(254,0,0,1) 51%, rgba(235,5,5,1) 83%, rgba(254,0,0,1) 85%, rgba(254,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe0000', endColorstr='#fe0000', GradientType=1 )
}

.statistic .statistic-block.pak-bg .statistic-value {
  background-color: #f8cda0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='304' height='304' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23ffdfb5' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23f8e6b7'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E")
}

.statistic .statistic-block.kartu-bg h4 {
  background: rgba(0,113,193,1);
  background: -moz-linear-gradient(-45deg, rgba(0,113,193,1) 0%, rgba(0,113,193,1) 51%, rgba(5,103,168,1) 83%, rgba(0,113,193,1) 85%, rgba(0,113,193,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,113,193,1)), color-stop(51%, rgba(0,113,193,1)), color-stop(83%, rgba(5,103,168,1)), color-stop(85%, rgba(0,113,193,1)), color-stop(100%, rgba(0,113,193,1)));
  background: -webkit-linear-gradient(-45deg, rgba(0,113,193,1) 0%, rgba(0,113,193,1) 51%, rgba(5,103,168,1) 83%, rgba(0,113,193,1) 85%, rgba(0,113,193,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(0,113,193,1) 0%, rgba(0,113,193,1) 51%, rgba(5,103,168,1) 83%, rgba(0,113,193,1) 85%, rgba(0,113,193,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(0,113,193,1) 0%, rgba(0,113,193,1) 51%, rgba(5,103,168,1) 83%, rgba(0,113,193,1) 85%, rgba(0,113,193,1) 100%);
  background: linear-gradient(135deg, rgba(0,113,193,1) 0%, rgba(0,113,193,1) 51%, rgba(5,103,168,1) 83%, rgba(0,113,193,1) 85%, rgba(0,113,193,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0071c1', endColorstr='#0071c1', GradientType=1 )
}

.statistic .statistic-block.kartu-bg .statistic-value {
  background-color: #ddebf6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23c4e2f6' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23b3d8f6'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E")
}

.statistic .statistic-block h4 {
  padding: 10px;
  margin-bottom: 0;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #f4f4f4;
  display: block;
  font-weight: 600
}

.statistic .statistic-block .statistic-value {
  list-style: none;
  padding: 10px;
  margin-bottom: 0
}

.statistic .statistic-block .statistic-value li {
  font-size: 15px;
  font-weight: 400;
  color: #353535;
  display: block;
  position: relative;
  line-height: 24px;
  padding-top: 7.3px;
  padding-bottom: 7.3px;
  border-bottom: 1px solid #2222220d
}

.statistic .statistic-block .statistic-value li:last-child { border-bottom: none }

.statistic .statistic-block .statistic-value li span {
  position: absolute;
  right: 0;
  font-weight: 800
}

.datatable-box {
  position: relative;
  padding: 20px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.02), 0 3px 20px rgba(0, 0, 0, 0.11)
}

.datatable-box h3 {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e5e8;
  border-top: 1px solid #e1e5e8;
  padding-top: 10px
}

.datatable-box h3 span {
  font-weight: 700;
  color: #3f9942
}

.footer {
  position: relative;
  background-color: #769a75
}

.footer .copyrights {
  line-height: 40px;
  height: 40px;
  text-align: center;
}

.footer .copyrights p {
  color: #f4f4f4;
  margin-bottom: 0
}

.table { font-size: 14px }

.table td,
.table th { padding: .625rem }

#jenjang-data.table-bordered.dataTable thead th { background-color: #ffff00 }

#status-data.table-bordered.dataTable thead th { background-color: #92d14f}

.table.table-bordered.dataTable tfoot th { background-color: #e0eaf6 }

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px)
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled { display: none }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit
}

.owl-carousel.owl-loaded { display: block }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block
}

.owl-carousel.owl-hidden { opacity: 0 }

.owl-carousel.owl-refresh .owl-item { visibility: hidden }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab
}

.owl-carousel.owl-rtl { direction: rtl }

.owl-carousel.owl-rtl .owl-item { float: right }

.no-js .owl-carousel { display: block }
  
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both
}

.owl-carousel .owl-animated-in { z-index: 0 }

.owl-carousel .owl-animated-out { z-index: 1 }

.owl-carousel .fadeOut { animation-name: fadeOut }

@keyframes fadeOut {
  0% { opacity: 1 }

  100% { opacity: 0 }
}

.owl-height { transition: height 500ms ease-in-out }

.owl-carousel .owl-item {}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease
}

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) { max-height: 0 }

.owl-carousel .owl-item img.owl-lazy { transform-style: preserve-3d }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("../img/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon { display: none }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%
}

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default
}

.owl-theme .owl-nav.disabled + .owl-dots { margin-top: 10px }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #ffffff7a;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span { background: #3b9b43b0 }

@media (min-width: 1200px) {
    .container { max-width: 1280px }

    .padhide { margin-bottom: 0 !important }
}
