<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aplikasi Penilaian Angka Kredit Guru</title>

    <!-- Bootstrap Core CSS -->
    <link href="resources/css/bootstrap.min.cosmo.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="resources/css/full-slider.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="resources/images/logo-sumut-ico.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
     <!--    <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
 -->
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('resources/images/slide/7767-IMG_0139.JPG');"></div>
                <!-- <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div> -->
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('resources/images/slide/7017-SMKN-1-BERINGIN-3.jpg');"></div>
                <!-- <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div> -->
            </div>

            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('resources/images/slide/5606-SMKN-1-BERINGIN-2.jpg');"></div>
                <!-- <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div> -->
            </div>

        </div>
        <!-- Controls -->
        <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a> -->
        <div style="position:absolute;top:0;left:0;width:90%;height:100%;background:transparent;border:0px solid #000;">
            
            <div style="float:left;width:60%;background:rgba(0,0,0,0.5);height:100%;border:0px solid #000;">
                <div style="width:90%;margin:auto;background:transparent;padding:15px;margin-top:18%">
                <!-- <h1 style="font-size:60px;color:white">SIM Penataan dan Pemerataan Guru</h1> -->
                <h1 style="font-size:48px;font-family: 'times new roman'; font-weight: bold; color:white">APLIKASI PERHITUNGAN ANGKA KREDIT GURU</h1>
                <h2 style="font-size:60px;font-family: 'times new roman'; font-weight: bold; color:white">Dinas Pendidikan <br> Prov. Sumatera Utara</h2>
                </div>
            </div>
            <div style="float:left;width:40%;background:transparent;height:100%;border:0px solid #000;" class="login-panel">
                
                <div style="width:90%;margin:auto;background:#eee;padding:15px;margin-top:30%;opacity: 0.8;">
                    <form action="login_check" method="POST" class="form-horizontal">
                        <div class="form-group">
                          <div class="col-lg-12">
                            <input type="text" class="form-control" id="username" name="_username" placeholder="Username ...">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-12">
                            <input type="password" class="form-control" id="password" name="_password" placeholder="Password ...">
                          </div>
                        </div>
                        <div class="row">
                            <div class="col col-4"></div>
                            <div class="col col-8">
                        {% if error %}
                                <div class="box-error">{{error}}</div>
                        {% endif %}

                                <!-- <label class="checkbox"><input type="checkbox" name="checkbox-inline" checked=""><i></i>Tetap login</label> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="submit"  class="btn btn-primary" value="Masuk" style="width:100%">
                                <!-- <button type="submit" class="button">Masuk</button> -->
                            </div>
                        </div>    
                    </form>
                    
                </div>


            </div>
            <div style="clear:both"></div>

        </div>

    </header>

    <script src="resources/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="resources/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    });

    if(window.location.hash) {
        var hash = window.location.hash.substring(1);

        if(hash == 'password_salah'){
            var pesan = 'Password yang Anda masukkan salah!';
            
            $('.login-panel form').append('<div class="alert alert-dismissable alert-danger peringatan">' + 
                pesan + 
            '</div>');
            

        }else if(hash == 'username_tidak_terdaftar'){
            var pesan = 'Username yang Anda masukkan tidak terdaftar! Mohon gunakan username lain';

            $('.login-panel form').append('<div class="alert alert-dismissable alert-danger peringatan">' + 
                pesan + 
            '</div>');
            
        }

    }
    </script>

</body>
</html>
