{% extends 'paper_a4_v3_nobox.twig' %}

{% block content %}

    <div class="box">
        <div class="page">
            <br>
            <table border="0">
                <tr>
                    <td width="15%">No. Berkas</td>
                    <td>:</td>
                    <td width="35%">{{ no_berkas }}</td>
                </tr>
                <tr>
                    <td>Nama</td>
                    <td>:</td>
                    <td>{{ nama }}</td>

                    <td>Terima Berkas</td>
                    <td>:</td>
                    <td>{{ terima_berkas }}</td>
                </tr>
                <tr>
                    <td>Nuptk</td>
                    <td>:</td>
                    <td>{{ nuptk }}</td>

                    <td>Status Dokumen</td>
                    <td>:</td>
                    <td><b>{{ status_dokumen }}</b></td>
                </tr>
                <tr>
                    <td>NRG</td>
                    <td>:</td>
                    <td>{{ nrg }}</td>

                    <td>Angka Kredit</td>
                    <td>:</td>
                    <td><b>{{ penyetaraan.angka_kredit }}</b></td>
                </tr>
                <tr>
                    <td>Tempat Tugas</td>
                    <td>:</td>
                    <td>{{ nama_sekolah }}</td>

                    <td>Jabatan, Pangkat/Gol</td>
                    <td>:</td>
                    <td><b>{{ penyetaraan.pangkat_gol}}</b></td>
                </tr>
            </table><br>
            {% if status_dokumen_id > 5 %}
            <table width="100%" style="border: 1px solid black; border-collapse: inherit;">
                <tr>
                    <th>No.</th>
                    <th>Nama Dokumen</th>
                    <th>Keterangan</th>
                </tr>
                {% for dok in dokumen %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ dok.jenis_dokumen }}</td>
                    <td>{{ dok.verified }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>

{% endblock %}
