{% extends 'paper_a4_v3_nobox.twig' %}

{% block content %}
    <style>
        p{
            font-size: 11pt;
        }
    </style>
    <div class="box">
        <div class="page">
            <br/>
            <table border="0" width="100%">
                <tr>
                    <td style="width:23%;padding-right:15px;">
                        <div style="width:60px;height:70px;"><img src="../resources/images/logo-kota-palembang-hitam-putih.png" style="width:60px; float:right; margin-right:-70px;"></div>
                    </td>
                    <td>
                        <div style="text-align: center;float:left;">
                            <span style="font-size:16px;">PEMERINTAH KOTA PALEMBANG</span><br/>
                            <b style="font-size:18px">DINAS PENDIDIKAN</b><br/>
                            <b style="font-size:18px">{{ ptk.nama_sekolah }}</b><br/>
                            <div style="font-size:14px;">Alamat : {{ sekolah.alamat_jalan }}</div>
                        </div>
                    </td>
                </tr>
            </table>
            <hr size="2px" style="border-style: double;">
            <p style="margin-left: 11cm;">
                Palembang, {{ tglSurat }}<br><br>
                Yth.<br>
                Kepala Badan Keuangan dan Aset Daerah<br>
                Kota Palembang<br>
                Di <b><u>Palembang</u></b>
            </p>
            <p style="text-align: center; padding: 10px;">
                <span style="font-size: 14px;"><b><u>SURAT PEMBERITAHUAN KENAIKAN GAJI BERKALA</u></b></span><br>
                Nomor : {{ kgb.no_surat }}
            </p>
            <p>
                Dengan ini diberitahukan bahwa berhubung telah dipenuhinya masa kerja dan syarat - syarat lainnya kepada : 
            </p>
            <table border="0">
                <tr>
                    <td>1.</td>
                    <td>Nama</td>
                    <td>: {{ ptk.nama }}</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>NIP / KARPEG</td>
                    <td>: {{ ptk.nip }} / {{ ptk.karpeg }}</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Pangkat/Golongan Ruang</td>
                    <td>: {{ ptk.pangkat }}</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Jabatan</td>
                    <td>: {{ ptk.Jenis_Guru }}</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Kantor/Instansi</td>
                    <td>: {{ ptk.nama_sekolah }}</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Gaji Pokok Lama</td>
                    <td>: {{ kgb.gapok_lama }}</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>a. Oleh Pejabat</td>
                    <td>: {{ kgb.pejabat }}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>b. Tanggal/Nomor</td>
                    <td>: {{ kgb.tgl_lama }} / No.: {{ kgb.no_surat_lama }}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>c. Tanggal mulai Berlaku</td>
                    <td>: {{ kgb.tmt_lama }}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2">d. Masa Kerja Golongan</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;Pada tanggal tersebut</td>
                    <td>: {{ kgb.masa_kerja_lama }}</td>
                </tr>
            </table>
            
            <p style="text-align: center; font-size: 14px;">
                <b><u>DIBERIKAN KENAIKAN GAJI BERKALA HINGGA MEMPEROLEH</u></b>
            </p>
            
            <table>
                <tr>
                    <td>8.</td>
                    <td>Gaji Pokok Baru</td>
                    <td>: {{ kgb.gapok_baru }}</td>
                </tr>
                <tr>
                    <td>9.</td>
                    <td>Berdasarkan masa kerja</td>
                    <td>: {{ kgb.masa_kerja_baru }}</td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>Dalam Golongan Ruang</td>
                    <td>: {{ ptk.golongan }}</td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>Mulai Tanggal</td>
                    <td>: <b>{{ kgb.tmt_kgb }}</b></td>
                </tr>
            </table>
            
            <p style="text-align: justify;">
                Diharapkan agar sesuai dengan Peraturan Pemerintah Nomor 7 Tahun 1977 sebagaimana telah diubah beberapa kali terakhir dengan Peraturan Pemerintah Nomor 30 Tahun 2015 kepada Pegawai tersebut dapat dibayarkan penghasilannya berdasarkan Gaji Pokok yang baru.
            </p>
            
            <p style="margin-left: 13cm;">
                Kepala Sekolah,<br><br><br><br>
                {{ kepsek.nama | upper }}<br>
                NIP: {{ kepsek.nip }}
            </p>
            
            <p>
                TEMBUSAN :<br>
            <ol>
                <li>Kepala Cabang PT. Taspen (Persero) di Palembang.</li>
                <li>Kepala Inspektorat Daerah Kota Palembang.</li>
                <li>Kepala Badan Kepegawaian Daerah Kota Palembang</li>
            </ol>
            </p>
            
            <p style="position: absolute; bottom: 5px; left: 13cm;">
                <img src="https://www.barcodesinc.com/generator/image.php?code={{ kgb.no_surat }}&style=68&type=C128B&width=258&height=50&xres=1&font=3" >
            </p>
        </div>
    </div>

{% endblock %}