{% extends 'paper.twig' %}

{% block style %}
    table{
        border-collapse: collapse;
    }
    
    table tr th{
        font-size: 11pt;
        padding: 5px;
    }
    
    table tr td{
        padding: 5px;
        font-size: 10pt;
    }

    @page { size: A4 landscape}
{% endblock %}

{% block content %}
<body class="A4 landscape">
    <section class="sheet padding-10mm">
        <p style="text-transform: capitalize; text-align: center; font-size: 14pt;">
            DAFTAR USULAN MUTASI PEGAWAI NEGERI SIPIL<br>
            DI LINGKUNGAN DINAS PENDIDIKAN PROVINSI SUMATERA UTARA<br>
            TAHUN {{ tahun }}
        </p>
        <br>
        <table border="1">
            <tr>
                <th>NO</th>
                <th>NAMA</th>
                <th>TEMPAT LAHIR</th>
                <th>TANGGAL LAHIR</th>
                <th>NIP</th>
                <th>IJASAH</th>
                <th>JURUSAN</th>
                <th>GOL</th>
                <th>JABATAN LAMA</th>
                <th>JABATAN BARU</th>
                <th>ALAMAT TEMPAT TINGGAL</th>
                <th>ALASAN</th>
            </tr>
            {# <pre>{{ dump(datas) }}</pre> #}
            {% for data in datas %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ data.nama }}</td>
                <td>{{ data.tempat_lahir }}</td>
                <td>{{ data.tanggal_lahir }}</td>
                <td>{{ data.nip }}</td>
                <td>{{ data.ijasah }}</td>
                <td>{{ data.jurusan }}</td>
                <td>{{ data.gol }}</td>
                <td>{{ data.jabatan_lama }}</td>
                <td>{{ data.jabatan_baru }}</td>
                <td>{{ data.alamat }}</td>
                <td>{{ data.alasan }}</td>
            </tr>    
            {% endfor %}
        </table>
        <br>
        <p style="margin-left: 210mm;">
            Medan, {{ tanggal }}<br>
            Kepala,
            <br>
            <br>
            <br>
            <br>
            <br>
            {{ ttd_nama }}<br>
            NIP. {{ ttd_nip }}
        </p>
        <p style="text-align: left; position: absolute; bottom: 5px;">
            <img src="https://www.barcodesinc.com/generator/image.php?code={{ no_sk }}&style=68&type=C128B&width=258&height=50&xres=1&font=3" >
        </p>
    </section>
</body>
{% endblock %}