{% extends 'paper_a4_garis.twig' %}

{% block content %}

    <br/>

    <div class="small" style="text-align:center;clear: right;font-size: small;">
        {#<div class="small" style="text-align:center;clear: right; margin-top: 70px;font-size: small;">#}
        PENETAPAN ANGKA KREDIT JABATAN FUNGSIONAL GURU<br/>
        DINAS PENDIDIKAN PROVINSI SUMATERA UTARA<br/><br/>
        <div align="center">
            <table style="border:none;">
                <tr>
                    <td>Nomor
                    </td>
                    <td>:
                        {{ nomor }}</td>
                </tr>
                <tr>
                    <td>Masa Penilaian</td>
                    <td>: {{ masa_penilaian_awal }} s.d. {{ masa_penilaian_akhir }}</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div id="content" align="center" width="100%">
        <table width="100%" cellpadding="0" cellspacing="0">
            <col width="20">
            <col width="26">
            <col width="17">
            <col width="115">
            <col width="36">
            <col width="58" span="2">
            <col width="67">
            <col width="14">
            <col width="25">
            <col width="21">
            <col width="287">
            <col width="63">
            <tr>
                <td >I</td>
                <td colspan="13" class="garis-kanan">KETERANGAN PERSEORANGAN</td>
            </tr>
            <tr>
                <td rowspan="13">&nbsp;</td>
                <td width="2%">1.</td>
                <td colspan="6">Nama&nbsp;</td>
                <td colspan="6" class="garis-kanan" width="47%">{{nama}}</td>
            </tr>
            <tr>
                <td>2.</td>
                <td colspan="6">NIP</td>
                <td colspan="6" class="garis-kanan">{{nip}}</td>
            </tr>
            <tr>
                <td>3.</td>
                <td colspan="6">Tempat dan Tanggal Lahir</td>
                <td colspan="6" class="garis-kanan">{{tempat_lahir|title}},
                    {{tgl_lahir}}</td>
            </tr>
            <tr>
                <td>4.</td>
                <td colspan="6">Jenis Kelamin</td>
                <td colspan="6" class="garis-kanan">{{ jenis_kelamin == 1 ? "Laki-laki": "Perempuan" }}</td>
            </tr>
            <tr>
                <td>5.</td>
                <td colspan="6">Pendidikan yang telah diperhitungkan angka kreditnya</td>
                <td colspan="6" class="garis-kanan">{{pendidikan}}</td>
            </tr <tr>
            <td>6.</td>
            <td colspan="6">Pangkat / Golongan ruang / TMT</td>
            <td colspan="6" class="garis-kanan">{{nama_pangkat_golongan}}
                /
                {{tmt_pangkat}}</td>
        </tr>
        <tr>
            <td>7.</td>
            <td colspan="6">Jabatan / TMT</td>
            <td colspan="6" class="garis-kanan">{{nama_jabatan}}
                /
                {{tmt_jabatan}}</td>
        </tr>
        <tr>
            <td rowspan="2">8.</td>
            <td colspan="4" rowspan="2">Masa Kerja Golongan&nbsp;</td>
            <td colspan="2" width="30%">Lama&nbsp;</td>
            <td colspan="6" class="garis-kanan">{{masa_kerja_golongan_lama}}
            </td>
        </tr>
        <tr>
            <td colspan="2">Baru</td>
            <td colspan="6" class="garis-kanan">{{masa_kerja_golongan_baru}}</td>
        </tr>
        <tr>
            <td>9.</td>
            <td colspan="6">Jenis Guru&nbsp;</td>
            <td colspan="6" class="garis-kanan">{{Jenis_Guru}}</td>
        </tr>
        <tr>
            <td>10.</td>
            <td colspan="6">Tugas</td>
            <td colspan="6" class="garis-kanan">{{mapel_diajarkan}}</td>
        </tr>
        <tr>
            <td rowspan="2">11.</td>
            <td colspan="4" rowspan="2">Alamat&nbsp;</td>
            <td colspan="2">Sekolah&nbsp;</td>
            <td colspan="6" class="garis-kanan">{{nama_sekolah}}<br>{#{alamat_sekolah}#}</td>
        </tr>
        <tr>
            <td colspan="2">Rumah</td>
            <td colspan="6" class="garis-kanan">{{alamat}}</td>
        </tr>
        <tr class="border">
            <td rowspan="17" valign="top">II</td>
            <td colspan="7" valign="top">PENETAPAN ANGKA KREDIT</td>
            <td align="center">LAMA&nbsp;</td>
            <td align="center">BARU</td>
            <td class="garis-kanan" align="center">JUMLAH</td>
        </tr>

        <tr class="border">
            <td rowspan="10" align="center" valign="top">1.</td>
            <td colspan="6">Unsur Utama</td>
            <td>&nbsp;</td>
            <td >&nbsp;</td>
            <td class="garis-kanan">&nbsp;</td>
        </tr>
        <tr class="border">
            <td rowspan="3" align="center" valign="top">a.</td>
            <td colspan="5">Pendidikan</td>
            <td>&nbsp;</td>
            <td >&nbsp;</td>
            <td class="garis-kanan">&nbsp;</td>
        </tr>
        <tr class="border">
            <td colspan="5">1) Pendidikan Sekolah</td>
            <td align="right">

                {% if (utama_a1_lama) == 0 %}
                    -
                {% else %}
                    {{( utama_a1_lama ) | number_format(3, ',', '.') }}
                {% endif %}
            </td>
            <td align="right">
                {% if (utama_a1_penilai) == 0 %}
                    -
                {% else %}
                    {{( utama_a1_penilai ) | number_format(3, ',', '.') }}
                {% endif %}
            </td>
            <td class="garis-kanan" align="right">
                {{ ( utama_a1_lama + utama_a1_penilai ) == 0 ? "-": ( utama_a1_lama + utama_a1_penilai ) | number_format(3, ',', '.')}}</td>
        </tr>
        <tr class="border">
            <td colspan="5">2) Pelatihan Prajabatan</td>
            <td align="right">
                {{ utama_a2_lama == 0 ? "-": utama_a2_lama | number_format(3, ',', '.') }}
            </td>
            <td align="right">
                {{ ( utama_a2_penilai ) == 0 ? "-": ( utama_a2_penilai ) | number_format(3, ',', '.') }}
            </td>
            <td class="garis-kanan" align="right">
                {{ ( utama_a2_lama + utama_a2_penilai ) == 0 ? "-": ( utama_a2_lama + utama_a2_penilai )| number_format(3, ',', '.') }}
            </td>
        </tr>
        <tr class="border">
            <td align="center" valign="top">b.</td>
            <td colspan="5">Pembelajaran/bimbingan dan tugas tertentu</td>
            <td align="right">
                {{ ( utama_b1_lama ) == 0 ? "-": ( utama_b1_lama )| number_format(3, ',', '.') }}
            </td>
            <td align="right">
                {{ ( utama_b1_penilai ) == 0 ? "-": ( utama_b1_penilai ) | number_format(3, ',', '.') }}
            </td>
            <td class="garis-kanan" align="right">
                {{ ( utama_b1_lama + utama_b1_penilai ) == 0 ? "-": ( utama_b1_lama + utama_b1_penilai ) | number_format(3, ',', '.')}}
            </td>
        </tr>
        <tr class="border">
            <td rowspan="4" align="center" valign="top">c.</td>
            <td colspan="5">Pengembangan Keprofesian Berkelanjutan</td>
            <td >&nbsp;</td>
            <td >&nbsp;</td>
            <td class="garis-kanan">&nbsp;</td>
        </tr>
        <tr class="border">
            <td colspan="5">1) Pengembangan diri</td>
            <td align="right">
                {{ ( utama_c1_lama ) == 0 ? "-": ( utama_c1_lama ) | number_format(3, ',', '.')}}
                <td align="right">
                    {{ ( utama_c1_penilai ) == 0 ? "-": ( utama_c1_penilai ) | number_format(3, ',', '.') }}
                </td>
                <td class="garis-kanan" align="right">
                    {{ (( utama_c1_lama + utama_c1_penilai ) + ( paktahunans.44.ak_final_lama + paktahunans.44.ak_final_baru )) == 0 ? "-": (( utama_c1_lama + utama_c1_penilai ) + ( utama_c1_lama + utama_c1_penilai )) | number_format(3, ',', '.') }}
                </td>
            </tr>
            <tr class="border">
                <td colspan="5">2) Publikasi ilmiah</td>
                <td align="right">
                    {{ ( utama_c2_lama ) == 0 ? "-": ( utama_c2_lama )  | number_format(3, ',', '.') }}
                </td>
                <td align="right">
                    {{ ( utama_c2_penilai ) == 0 ? "-": ( utama_c2_penilai) | number_format(3, ',', '.') }}
                </td>
                <td class="garis-kanan" align="right">
                    {{ ( utama_c2_lama + utama_c2_penilai )  == 0 ? "-": ( utama_c2_lama + utama_c2_penilai ) | number_format(3, ',', '.') }}
                </td>
            </tr>
            <tr class="border">
                {#<td align="center" valign="top">3)</td>#}
                <td colspan="5">3) Karya inovatif</td>
                <td align="right">
                    {{ ( utama_c3_lama ) == 0 ? "-": ( utama_c3_lama ) | number_format(3, ',', '.') }}
                </td>
                <td align="right">
                    {{ ( utama_c3_penilai ) == 0 ? "-": ( utama_c3_penilai )  | number_format(3, ',', '.') }}
                </td>
                <td class="garis-kanan" align="right">
                    {{ (( utama_c3_lama + utama_c3_penilai )) == 0 ? "-": (( paktahunans.93.ak_final_lama + paktahunans.93.ak_final_baru )) | number_format(3, ',', '.') }}
                </td>
            </tr>
            <tr class="border">
                <td colspan="6">Jumlah Unsur Utama</td>
                <td align="right">
                    {{ ( utama_a1_lama+utama_a2_lama+utama_b1_lama+utama_c1_lama+utama_c2_lama+utama_c3_lama ) == 0 ? "-": ( utama_a1_lama+utama_a2_lama+utama_b1_lama+utama_c1_lama+utama_c2_lama+utama_c3_lama ) | number_format(3, ',', '.') }}
                </td>
                <td align="right">
                    {{ ( utama_a1_penilai+utama_a2_penilai+utama_b1_penilai+utama_c1_penilai+utama_c2_penilai+utama_c3_penilai ) == 0 ? "-": ( utama_a1_penilai+utama_a2_penilai+utama_b1_penilai+utama_c1_penilai+utama_c2_penilai+utama_c3_penilai ) | number_format(3, ',', '.') }}
                </td>
                <td class="garis-kanan" align="right">
                    {{ ( utama_a1_lama+utama_a2_lama+utama_b1_lama+utama_c1_lama+utama_c2_lama+utama_c3_lama + utama_a1_penilai+utama_a2_penilai+utama_b1_penilai+utama_c1_penilai+utama_c2_penilai+utama_c3_penilai ) == 0 ? "-": ( utama_a1_lama+utama_a2_lama+utama_b1_lama+utama_c1_lama+utama_c2_lama+utama_c3_lama + utama_a1_penilai+utama_a2_penilai+utama_b1_penilai+utama_c1_penilai+utama_c2_penilai+utama_c3_penilai ) | number_format(3, ',', '.') }}
                </td>
            </tr>
            <tr class="border">
                <td rowspan="5" align="center" valign="top">2.</td>
                <td colspan="6">Unsur Penunjang</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td class="garis-kanan">&nbsp;</td>
            </tr>
            <tr class="border">
                <td>a.</td>
                <td colspan="5">Ijazah yang tidak sesuai</td>
                <td align="right">
                    {{ (  penunjang_a_lama  ) == 0 ? "-": (  penunjang_a_lama ) | number_format(3, ',', '.') }}
                </td>
                <td align="right">
                    {{ (  penunjang_a_penilai  ) == 0 ? "-": (  penunjang_a_penilai ) | number_format(3, ',', '.') }}
                </td>
                <td class="garis-kanan" align="right">
                    {{ (  penunjang_a_lama + penunjang_a_penilai  ) == 0 ? "-": (  penunjang_a_lama + penunjang_a_penilai ) | number_format(3, ',', '.') }}
                </td>
            </tr>
            <tr class="border">
                <td>b.</td>
                <td colspan="5">Pendukung tugas guru</td>
                <td align="right">
                    {{ (  penunjang_b_lama  ) == 0 ? "-": (  penunjang_b_lama ) | number_format(3, ',', '.') }}
                </td>
                <td align="right">
                    {{ (  penunjang_b_penilai  ) == 0 ? "-": (  penunjang_b_penilai ) | number_format(3, ',', '.') }}
                </td>
                <td class="garis-kanan" align="right">
                    {{ (  penunjang_b_lama + penunjang_b_penilai  ) == 0 ? "-": (  penunjang_b_lama + penunjang_b_penilai ) | number_format(3, ',', '.') }}
                </td>
            </tr>
            <tr class="border">
                <td>c.</td>
                <td colspan="5">Memperoleh penghargaan</td>
                <td align="right">
                    {{ (  penunjang_c_lama  ) == 0 ? "-": (  penunjang_c_lama ) | number_format(3, ',', '.') }}
                </td>
                <td align="right">
                    {{ (  penunjang_c_penilai  ) == 0 ? "-": (  penunjang_c_penilai ) | number_format(3, ',', '.') }}
                </td>
                <td class="garis-kanan" align="right">
                    {{ (  penunjang_c_lama + penunjang_c_penilai  ) == 0 ? "-": (  penunjang_c_lama + penunjang_c_penilai ) | number_format(3, ',', '.') }}
                </td>
            </tr>
            <tr class="border">
                <td colspan="6">Jumlah Unsur Penunjang</td>
                <td align="right">
                    {{ (  penunjang_a_lama + penunjang_b_lama + penunjang_c_lama ) == 0 ? "-": (  penunjang_a_lama + penunjang_b_lama + penunjang_c_lama ) | number_format(3, ',', '.') }}
                </td>
                <td align="right">
                    {{ (  penunjang_a_penilai + penunjang_b_penilai + penunjang_c_penilai  ) == 0 ? "-": (  penunjang_a_penilai + penunjang_b_penilai + penunjang_c_penilai ) | number_format(3, ',', '.') }}
                </td>
                <td class="garis-kanan" align="right">
                    {{ (  penunjang_a_final + penunjang_b_final + penunjang_c_final  ) == 0 ? "-": (  penunjang_a_final + penunjang_b_final + penunjang_c_final ) | number_format(3, ',', '.') }}
                </td>
            </tr>
            <tr class="border">
                <td colspan="7">Jumlah Unsur Utama dan Unsur Penunjang</td>
                <td align="right">
                    {{ (  utama_a1_lama + utama_a2_lama + utama_b1_lama + utama_b2_lama + utama_b3_lama + utama_c1_lama + utama_c2_lama + utama_c3_lama + penunjang_a_lama + penunjang_b_lama + penunjang_c_lama  ) == 0 ? "-": ( utama_a1_lama + utama_a2_lama + utama_b1_lama + utama_b2_lama + utama_b3_lama + utama_c1_lama + utama_c2_lama + utama_c3_lama + penunjang_a_lama + penunjang_b_lama + penunjang_c_lama ) | number_format(3, ',', '.') }}
                </td>
                <td align="right">
                    {{ (  utama_a1_penilai + utama_a2_penilai + utama_b1_penilai + utama_b2_penilai + utama_b3_penilai + utama_c1_penilai + utama_c2_penilai + utama_c3_penilai + penunjang_a_penilai + penunjang_b_penilai + penunjang_c_penilai  ) == 0 ? "-": ( utama_a1_penilai + utama_a2_penilai + utama_b1_penilai + utama_b2_penilai + utama_b3_penilai + utama_c1_penilai + utama_c2_penilai + utama_c3_penilai + penunjang_a_penilai + penunjang_b_penilai + penunjang_c_penilai ) | number_format(3, ',', '.') }}
                </td>
                <td class="garis-kanan" align="right">
                    {{ (  utama_a1_final + utama_a2_final + utama_b1_final + utama_b2_final + utama_b3_final + utama_c1_final + utama_c2_final + utama_c3_final + penunjang_a_final + penunjang_b_final + penunjang_c_final  ) == 0 ? "-": (  utama_a1_final + utama_a2_final + utama_b1_final + utama_b2_final + utama_b3_final + utama_c1_final + utama_c2_final + utama_c3_final + penunjang_a_final + penunjang_b_final + penunjang_c_final ) | number_format(3, ',', '.') }}
                </td>
            </tr>
            <tr class="border garis-bawah">
                <td class="garis-bawah">III</td>
                <td class="garis-bawah garis-kanan " colspan="13">{{ nama_pangkat_golongan_full }}</td>
            </tr>
        </table >
        <table width="100%">
            <tr>
                <td width="75%" style="border:none;">
                    <div>
                        <br><br>
                        Tembusan disampaikan dengan hormat kepada :<br>
                        1. Guru yang bersangkutan;<br>
                        2. Pimpinan Unit Kerja;<br>
                        3. Sekretaris Tim Penilai;<br>
                        4. Pejabat yang berwenang menetapkan angka kredit;<br>
                        5. Kepala Biro / Bagian Kepegawaian Instansi/ Badan Kepegawaian Daerah (BKD)
                    </div>
                </td>
                <td width="25%" style="border:none;">
                    <div>
                        Ditetapkan di : Medan
                        <br/>
                        Pada Tanggal :
                        {{tanggal_penetapan}}
                        <br/><br/>
                        KEPALA DINAS PENDIDIKAN<br>PROVINSI SUMATERA UTARA
                        <br/>
                        {{jabatan_penandatangan}}
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <b id="pt">{{nama_pejabat}}</b><br>
                        NIP :
                        {{ nip_pejabat}}</div>
                </td>
            </tr>
        </table>
        <p style="text-align: left; position: absolute; bottom: 5px;">
            <img src="https://www.barcodesinc.com/generator/image.php?code={{ nip }}&style=68&type=C128B&width=258&height=50&xres=1&font=3" >
        </p>
    </div>

{% endblock %}
