<!DOCTYPE html>
<html lang="en" moznomarginboxes mozdisallowselectionprint>
<head>
<meta charset="UTF-8" />
<title>{{title}}</title>
<link href='/resources/fonts/raleway/raleway-light.css' rel='stylesheet' type='text/css'> 
<!--link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<style type="text/css">

@media screen {

    body
    {
        background-color: #ddd;

    }

    .box
    {
        position: relative;
        /* width: 500px;*/
        width: 18cm; 
        /*height: 27.5cm; */
        padding: 50px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #fff;
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    }

    .box:before, .box:after
    {
        position: absolute;
        width: 30%;
        height: 10px;
        content: ' ';
        left: 8px;
        bottom: 12px;
        background: transparent;
        -webkit-transform: skew(-5deg) rotate(-5deg);
        -moz-transform: skew(-5deg) rotate(-5deg);
        -ms-transform: skew(-5deg) rotate(-5deg);
        -o-transform: skew(-5deg) rotate(-5deg);
        transform: skew(-5deg) rotate(-5deg);
        -webkit-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
        z-index: -1;
    } 

    .box:after
    {
        left: auto;
        right: 8px;
        -webkit-transform: skew(5deg) rotate(5deg);
        -moz-transform: skew(5deg) rotate(5deg);
        -ms-transform: skew(5deg) rotate(5deg);
        -o-transform: skew(5deg) rotate(5deg);
        transform: skew(5deg) rotate(5deg);
    } 


}

@media print {
    
    @page
    {
        margin:0px auto;
    }

    body {
        /*padding: 20px;*/
    }

}

@media screen, print {

    body {

        font-family: Open Sans, arial, helvetica, freesans, sans-serif;
        font-size: 100%;
        color: #333;
    }

    h1, h2
    {
        font-family: Open Sans, arial;
        color: #777;
        font-size: 1.6em;
        font-weight: normal;
        margin: 0;
    }

    h2
    {
        font-size: 1em;
        margin-top: 0;
    }

    p
    {
        color: #777;
        font-weight: thin;
        font-size:12px;
    }
    table {
        font-size:small;    
    }

    #content td {   
        font-size: 10px;
        padding: 1px 3px 1px 3px ;
        border-top: solid #2A0000 1px;
        border-left: solid #2A0000 1px;
        vertical-align: top;
    }
    .garis-kanan {
        border-right: solid #000000 1px;    
    }
    .garis-bawah {
        border-bottom: solid #000000 1px;
    }
    .garis-kanan-bawah {
        border-bottom: solid #000000 1px;
        border-right: solid #000000 1px;    
    }

    div.page
    {
        page-break-after: always;
        page-break-inside: avoid;
    }

}

</style>

</head>
<body>

<div class="box">

{% block content %}

<h1>Pure CSS3 Paper Curls Without Images</h1>

<p>No images or additional elements are used to create this curled box effect.</p>

<p>For more information, please please refer to:<br />
<a href="http://blogs.sitepoint.com/pure-css3-paper-curl/">Pure CSS3 Paper Curls Without Images</a></p>

<h2>No Restrictions</h2>

<p>This example code was developed by <a href="http://twitter.com/craigbuckler">Craig Buckler</a> of <a href="http://optimalworks.net/">OptimalWorks.net</a> for <a href="http://sitepoint.com/">SitePoint.com</a>.</p>

<p>It can be used without any restrictions but please don't expect 24/7 support! A link back to <a href="http://www.sitepoint.com/">SitePoint.com</a> is appreciated.</p>

{% endblock %}

</div>

</body>
</html>