<!DOCTYPE html>
<html lang="en" moznomarginboxes mozdisallowselectionprint>
<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link href='/resources/fonts/raleway/raleway-light.css' rel='stylesheet' type='text/css'>
    <!--link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'-->
    <link href='http://fonts.googleapis.com/css?family=Tinos' rel='stylesheet' type='text/css'>

    <style type="text/css">

        @media screen {

            body
            {
                background-color: #ddd;

            }

            .box
            {
                position: relative;
                /* width: 500px;*/
                width: 18cm;
                /*height: 27.5cm; */
                padding: 50px;
                margin: 0 auto;
                margin-top: 20px;
                margin-bottom: 20px;
                background-color: #fff;
                -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
            }

            .box:before, .box:after
            {
                position: absolute;
                width: 30%;
                height: 10px;
                content: ' ';
                left: 8px;
                bottom: 12px;
                background: transparent;
                -webkit-transform: skew(-5deg) rotate(-5deg);
                -moz-transform: skew(-5deg) rotate(-5deg);
                -ms-transform: skew(-5deg) rotate(-5deg);
                -o-transform: skew(-5deg) rotate(-5deg);
                transform: skew(-5deg) rotate(-5deg);
                -webkit-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
                box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
                z-index: -1;
            }

            .box:after
            {
                left: auto;
                right: 8px;
                -webkit-transform: skew(5deg) rotate(5deg);
                -moz-transform: skew(5deg) rotate(5deg);
                -ms-transform: skew(5deg) rotate(5deg);
                -o-transform: skew(5deg) rotate(5deg);
                transform: skew(5deg) rotate(5deg);
            }


        }

        @media print {

            @page
            {
                margin:0px auto;
            }

            body {
                /*padding: 20px;*/
            }

        }

        @media screen, print {

            body {

                /*font-family: Open Sans, arial, helvetica, freesans, sans-serif;*/
                font-family: "Times New Roman", Times, serif;
                /*font-family: Tinos, Times, serif;*/
                font-size: 100%;
                color: #333;
            }

            h1, h2
            {
                font-family: "Times New Roman", Times, serif;
                /*font-family: Open Sans, arial;*/
                /*font-family: Tinos, arial;*/
                color: #777;
                font-size: 1.6em;
                font-weight: normal;
                margin: 0;
            }

            h2
            {
                font-size: 1em;
                margin-top: 0;
            }

            p
            {
                color: #777;
                font-weight: thin;
                font-size:12px;
            }
            /*h1 { text-shadow: -1px -1px 1px #fff, 1px 1px 1px #333; color: #888; opacity: 2; font: 25px 'Raleway'; }*/

            /*table a:link {
                color: #666;
                font-weight: bold;
                text-decoration:none;
            }
            table a:visited {
                color: #999999;
                font-weight:bold;
                text-decoration:none;
            }
            table a:active,
            table a:hover {
                color: #bd5a35;
                text-decoration:underline;
            }*/


            table {
                font-size:small;
            }
            table.small {
                font-size:x-small;
                border-top: 1px solid #000000;
                border-left: 1px solid #000000;
            }
            table.data {
                border-top: 1px solid #000000;
                border-left: 1px solid #000000;
                border-bottom: 1px solid #000000;
            }
            table.datarow {
                border-top: 1px solid #000000;
                border-left: 1px solid #000000;
                /*border-right: 1px solid #000000;*/
            }
            th {
                border-right: 1px solid #000000;
                border-bottom: 1px solid #000000;
                /*border-top: 1px solid #000000;*/
            }
            td {
                vertical-align: top;
                padding-left: 4px;
            }
            td.data {
                margin: 0px 0px 0px 0px;
                background-color:#FFFFFF;
                border-right: 1px solid #000000;
                padding-right: 4px;
            }
            td.datarow {
                margin: 0px 0px 0px 0px;
                background-color:#FFFFFF;
                border-right: 1px solid #000000;
                border-bottom: 1px solid #000000;
                padding-right: 4px;
            }
            td.sumdata {
                margin: 0px 0px 0px 0px;
                background-color:#FFFFFF;
                border-right: 1px solid #000000;
                border-top: 1px solid #000000;
                border-bottom: 1px solid #000000;
                padding-right: 4px;
                font-weight: bold;
            }
            td.foot {
                border-top: 1px solid #000000;
                border-right: 1px solid #000000;
                padding-right:4px;
            }
            td.signbox {
                margin: 0px 0px 0px 0px;
                margin-top: 10px;
                background-color:#FFFFFF;
                border-right: 1px solid #000000;
                border-top: 1px solid #000000;
                padding-right: 4px;
            }

            td.pagehead {
                padding: 4px;
            }

            td.bcell {
                border-top: black thin solid;
                border-right: black thin solid;
                border-bottom: black thin solid;
                border-left: black thin solid;
                line-height: 2;
            }

            /* div.page
             {
                 page-break-after: always;
                 page-break-inside: avoid;
             }*/
            footer {page-break-after: always;}

            p {
                font-size: small; color: #000000;
            }
        }

    </style>

</head>
<body>

{% block content %}

    <h1>Pure CSS3 Paper Curls Without Images</h1>

    <p>No images or additional elements are used to create this curled box effect.</p>

    <p>For more information, please please refer to:<br />
        <a href="http://blogs.sitepoint.com/pure-css3-paper-curl/">Pure CSS3 Paper Curls Without Images</a></p>

    <h2>No Restrictions</h2>

    <p>This example code was developed by <a href="http://twitter.com/craigbuckler">Craig Buckler</a> of <a href="http://optimalworks.net/">OptimalWorks.net</a> for <a href="http://sitepoint.com/">SitePoint.com</a>.</p>

    <p>It can be used without any restrictions but please don't expect 24/7 support! A link back to <a href="http://www.sitepoint.com/">SitePoint.com</a> is appreciated.</p>

{% endblock %}

</body>
</html>