<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# <link href='/resources/fonts/raleway/raleway-light.css' rel='stylesheet' type='text/css'> #}
    <link href='http://fonts.googleapis.com/css?family=Tinos' rel='stylesheet' type='text/css'>
    <style type="text/css">
        @page { margin: 0 auto; }
        body { margin: 0 auto; }
        .sheet {
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            box-sizing: border-box;
            page-break-after: always;
        }

        /** Paper sizes **/
        body.A3           .sheet { width: 297mm; height: 419mm }
        body.A3.landscape .sheet { width: 420mm; height: 296mm }
        body.A4           .sheet { width: 210mm; height: 296mm }
        body.A4.landscape .sheet { width: 297mm; height: 209mm }
        body.A5           .sheet { width: 148mm; height: 209mm }
        body.A5.landscape .sheet { width: 210mm; height: 147mm }

        

        /** For screen preview **/
        @media screen {
            body { background: #e0e0e0; margin: 0 auto; }
            .sheet {
                background: white;
                box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
                margin: 5mm auto;
            }

            /** Padding area **/
            .sheet.padding-10mm { padding: 10mm }
            .sheet.padding-15mm { padding: 15mm }
            .sheet.padding-20mm { padding: 20mm }
            .sheet.padding-25mm { padding: 25mm }
        }

        /** Fix for Chrome issue #273306 **/
        @media print {
            .sheet {
                background: white;
                margin: 5mm auto;
            }
            body.A3.landscape { width: 420mm }
            body.A3, body.A4.landscape { width: 297mm }
            body.A4, body.A5.landscape { width: 210mm }
            body.A5                    { width: 148mm }
        }

        {% block style %}{% endblock %}
    </style>
</head>
{% block content %}https://github.com/cognitom/paper-css/blob/master/examples/multiple-sheets.html{% endblock %}
</html>