{% extends 'paper.twig' %}
{% block style %}
    @page { size: A4}
{% endblock %}
{% block content %}
<body class="A4">
    <section class="sheet padding-10mm">

       <table border="0" width="100%">
            <tr>
                <td style="width:12%;padding-right:15px;">
                    <div style="width:60px;height:70px;"><img src="../resources/images/logo-sumut-bw.png" style="width:60px; float:right; margin-right:-10px;"></div>
                </td>
                <td>
                    <div style="text-align: center;float:left;">
                        PEMERINTAH PROVINSI SUMATERA UTARA<br/>
                        <b style="font-size:18px">DINAS PENDIDIKAN</b><br/>
                        <div style="font-size:14px;">Alamat : Jl. Teuku Cik Ditiro No.1-D, Madras Hulu, Medan Polonia, Kota Medan, Sumatera Utara 20151</div><br/>

                    </div>
                </td>
            </tr>
        </table>

        <hr size="2px" color="black">
        <table border="0">

            <tbody style="font-size: 11pt">
                <tr>
                    <td width="100px">Nomor</td>
                    <td>:</td>
                    <td>{{ no_sk }}</td>
                    <td>Medan,
                        {{ tanggal }}</td>
                </tr>
                <tr>
                    <td width="100px">Lamp</td>
                    <td>:</td>
                    <td>1 bendel</td>
                    <td></td>
                </tr>
                <tr>
                    <td width="100px">Hal</td>
                    <td>:</td>
                    <td width="300pxs">Mutasi Pegawi
                        {{nama}}
                        dkk
                        <br/>(sejumlah
                        {{jumlah_orang}}
                        orang)
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td width="100px"></td>
                    <td></td>
                    <td width="300pxs"></td>
                    <td>Kepada
                        <br/>
                        Yth. Gubernur Sumatera Utara
                        <br/>
                        Di
                        <br/>
                        <center>
                            <u>MEDAN</u>
                        </center>
                    </td>
                </tr>

            </tbody>
        </table>

        <br/>
        <table border="0">
            <tbody style="font-size: 11pt">
                <tr>
                    <td width="100px"></td>
                    <td></td>
                    <td>Bersama ini kami sampaikan dengan hormat permohonan usul mutasi Pegawai di lingkungan Dinas Pendidikan Provinsi Sumatera Utara Tahun
                        {{ tahun }}
                        sejumlah
                        {{jumlah_orang}}
                        orang (daftar nama dan kelengkapan berkas yang diperlukan sebagaimana terlampir).
                    </td>
                </tr>
                <tr id="A" style="height:30px;">
                    <td width="100px"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td width="100px"></td>
                    <td></td>
                    <td>Demikian permohonan ini kami sampaikan dan atas kebijaksanaannya kami sampaikan terimakasih.
                    </td>
                </tr>
            </tbody>
        </table>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <table border="0">
            <tbody style="font-size: 11pt">

                <tr>
                    <td width="100px"></td>
                    <td></td>
                    <td width="300pxs"></td>
                    <td>
                        {{ ttd_jabatan }},
                        <br/>
                        {{ ttd_instansi }}
                        <br/><br/><br/><br/><br/><br/><br/>
                        <u>{{ ttd_nama }}</u>
                        <br/>
                        {{ ttd_pangkat }}
                        <br/>
                        NIP.
                        {{ ttd_nip }}</td>
                </tr>

            </tbody>
        </table>
        
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <table border="0">
            <tbody style="font-size: 11pt">

                <tr>
                    <td>Tembusan dikirim kepada Yth.<br/>
                        <ul>
                            <li>Kepala Badan Kepegawaian Daerah Provinsi Sumatera Utara.</li>
                        </ul>
                        <td width="100px"></td>
                        <td></td>
                        <td width="300pxs"></td>
                    </tr>

            </tbody>
        </table>

        <br/>
        <br/>
        <p style="text-align: left; position: absolute; bottom: 5px;">
            <img src="https://www.barcodesinc.com/generator/image.php?code={{ no_sk }}&style=68&type=C128B&width=258&height=50&xres=1&font=3" >
        </p>
    </section>
</body>
{% endblock %}