{% extends 'paper.twig' %}

{% block style %}
    @page { size: A4 landscape}

    body{
        font-size: 14pt;
    }

    .logo{
        position: absolute;
        left: 25px;
        top: 10px;
    }

    .judul{
        text-align: center;
        margin-top: 50px;
    }

{% endblock %}

{% block content %}
    <body class="A4 landscape">
    {% for p in peserta %}
        <section class="sheet">
            <p class="logo">
                <img src="../resources/images/logo-kota-palembang-hitam-putih.png" width="80px">
            </p>
            <p class="judul">
                <span style="margin-bottom: 5mm; font-size: 14pt; font-weight: bold;">PEMERINTAH KOTA PALEMBANG</span><br>
                <span style="font-size: 18pt; font-weight: bold;">DINAS PENDIDIKAN</span><br>
                <span style="font-size: 12pt;">Alamat : Jl. Pramuka, Srijaya, Alang Alang Lebar, Kota Palembang, Sumatera Selatan 30151</span>
            </p>
            <hr style="border-style: double;height: 2px;background-color: black;">
            <hr style="border-style: double; margin-top: -5px;">
            <p style="text-align: center;font-size: 24pt;font-weight: bold;margin-bottom: 15px;">SERTIFIKAT</p>
            <p style="text-align: center;">Nomor : {{ kegiatan.no_surat }}</p>
            <p style="text-align: center;margin-top: 52px;">Diberikan Kepada : </p>
            <table align="center">
                <tr>
                    <td style="padding-bottom: 10px;">Nama</td>
                    <td style="padding-bottom: 10px;">:</td>
                    <td style="padding-bottom: 10px; text-transform: uppercase;">{{ p.nama }}</td>
                </tr>
                <tr>
                    <td style="padding-bottom: 10px;">Tempat/Tanggal Lahir</td>
                    <td style="padding-bottom: 10px;">:</td>
                    <td style="padding-bottom: 10px;">{{ p.tempat_lahir }}, {{ p.tanggal_lahir }}</td>
                </tr>
                <tr>
                    <td style="padding-bottom: 10px;">Instansi/Sekolah</td>
                    <td style="padding-bottom: 10px;">:</td>
                    <td style="padding-bottom: 10px; text-transform: uppercase;">{{ p.instansi }}</td>
                </tr>
            </table>
            <p style="margin: 10px 15px 0px 15px;">
                Atas partisipasinya dalam kegiatan <b>{{ kegiatan.nama }}</b> yang diselenggarakan oleh Dinas Pendidikan Kota Palembang pada Tanggal {{ tgl_mulai }} - {{ tgl_selesai }} bertempat di {{ kegiatan.tempat }} sebagai:
            </p>
            <p style="font-size: 18pt; font-weight: bold; text-align: center; text-transform: uppercase;">peserta</p>
            <p style="position: absolute; right: 90px;">
                Palembang, {{ tgl_selesai }}<br>
                {{ pejabat.jabatan }}
                <br><br><br><br>
                {{ pejabat.nama }}<br>
                NIP. {{ pejabat.nip }}
            </p>
        </section>
    {% endfor %}
    </body>
{% endblock %}