{% extends 'paper_a4_v3_nobox.twig' %}

{% block content %}

    <div class="box">
        <div class="page">
            <br/>
            <table border="0" width="100%">
                <tr>
                    <td style="width:23%;padding-right:15px;">
                        <div style="width:60px;height:70px;"><img src="../resources/images/logo-kota-palembang-hitam-putih.png" style="width:60px; float:right; margin-right:-70px;"></div>
                    </td>
                    <td>
                        <div style="text-align: center;float:left;">
                            PEMERINTAH KOTA PALEMBANG<br/>
                            <b style="font-size:18px">DINAS PENDIDIKAN</b><br/>
                            <b style="font-size:18px">{{ ptk.nama_sekolah }}</b><br/>
                            <div style="font-size:14px;">Alamat : {{ sekolahInduk.alamat_jalan }}</div>

                        </div>
                    </td>
                </tr>
            </table>
            <hr size="2px" color="black">
            <table border="0" width="100%">

                <tbody style="font-size: 11pt">

                <tr>
                    <td colspan="3" width="100%" align="center" style="padding-bottom: 10px;">
                        <br/><b style="font-size: 14pt;"><u>SURAT PERMOHONAN</u></b><br/>
                        <span style="font-size: 12pt;">Nomor : {{ penugasan.no_surat }}</span>
                    </td>
                </tr>

                <tr>
                    <td>Perihal</td>
                    <td>:</td>
                    <td>Permohonan Surat Tugas Mencari Jam Tambahan di Sekolah Lain</td>
                </tr>

                <tr>
                    <td>Lampiran</td>
                    <td>:</td>
                    <td>1 (satu) Lembar</td>
                </tr>

                <tr>
                    <td colspan="3"><br/>
                        Kepada<br/>
                        Yth. Kepala Dinas Pendidikan <br/>
                        Kota Palembang<br/>
                        <span style="padding: 10px 0 10px 0;">di - </span><br/>
                        Palembang
                    </td>
                </tr>

                </tbody>
            </table>
            <br/>
            <table border="0">
                <tbody style="font-size: 12pt">

                <tr>
                    <td colspan="3" style="padding-bottom: 10px;">
                        Dengan hormat,<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dalam rangka pemenuhan beban kerja guru minimal 24 jam/minggu, sesuai Permendiknas Nomor 39 tahun 2009 tentang Beban Kerja Guru dan Pengawas Satuan Pendidikan, maka saya yang bertanda tangan di bawah ini :
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 15px;">Nama</td>
                    <td>:</td>
                    <td>{{ ptk.nama }}</td>
                </tr>

                <tr>
                    <td style="padding-left: 15px;">NIP</td>
                    <td>:</td>
                    <td>{{ ptk.nip }}</td>
                </tr>

                <tr>
                    <td style="padding-left: 15px;">Tempat, Tgl Lahir</td>
                    <td>:</td>
                    <td>{{ ptk.tempat_lahir }}, {{ tglLahir }}</td>
                </tr>

                <tr>
                    <td style="padding-left: 15px;">Pangkat/Gol. Ruang</td>
                    <td>:</td>
                    <td>{{ ptk.golongan }}</td>
                </tr>

                <tr>
                    <td style="padding-left: 15px;">Jabatan</td>
                    <td>:</td>
                    <td>{{ ptk.Jenis_Guru }}</td>
                </tr>

                <tr>
                    <td style="padding-left: 15px;">Bidang Studi</td>
                    <td>:</td>
                    <td>{{ ptk.mapel_diajarkan }}</td>
                </tr>

                <tr>
                    <td style="padding-left: 15px;">Jumlah Jam</td>
                    <td>:</td>
                    <td>{{ ptk.JJM_Linier_di_sekolah_induk }}</td>
                </tr>

                <tr>
                    <td style="padding-left: 15px;">Unit Kerja</td>
                    <td>:</td>
                    <td>{{ ptk.nama_sekolah }}</td>
                </tr>

                <tr>
                    <td style="padding-left: 15px;">Alamat</td>
                    <td>:</td>
                    <td style="padding-bottom: 10px;">{{ sekolahInduk.alamat_jalan }}</td>
                </tr>

                <tr>
                    <td colspan="3" style="text-align: justify; text-justify: inter-word">
                        Mengajukan permohonan Surat penugasan untuk melaksanakan tugas di sekolah lain yaitu {{ sekolahTujuan.nama }} sebanyak {{ 24 - ptk.JJM_Linier_di_sekolah_induk }} jam tatap muka, sehingga dapat memenuhi beban mengajar 24 jam tatap muka,  sebagai bahan pertimbangan saya lampirkan hal-hal sebagai berikut :<br>
                        <ol>
                            <li>Foto Copy Sertifikat pendidikan</li>
                            <li>Foto Copy Surat Keputusan Kepala {{ sekolahInduk.nama }}, Tentang Pembagian Tugas dalam kegiatan proses belajar mengajar</li>
                            <li>Foto Copy Surat Keputusan Kepala {{ sekolahTujuan.nama }}, Tentang pembagian Tugas dalam kegiatan proses belajar mengajar</li>
                        </ol>
                        Demikian surat permohonan ini kami ajukan dan atas perhatian Bapak saya sampaikan terima kasih.
                    </td>
                </tr>
                </tbody>
            </table><br><br>
            <table width="100%" border="0" style="font-size: 11pt;">
                <tr>
                    <td width="67%">Mengetahui</td>
                    <td>Palembang, {{ tglSurat }}</td>
                </tr>
                <tr>
                    <td>Kepala {{ sekolahInduk.nama }}</td>
                    <td>Hormat Saya</td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-bottom: 40px;"></td>
                </tr>
                <tr>
                    <td style="text-decoration: underline; font-weight: bold;">{{ kepsek.nama }}</td>
                    <td style="text-decoration: underline; font-weight: bold;">{{ ptk.nama }}</td>
                </tr>
                <tr>
                    <td>NIP. {{ kepsek.nip }}</td>
                    <td>NIP. {{ ptk.nip }}</td>
                </tr>
            </table>
            <p style="position: absolute; bottom: 5px;">
                <img src="https://www.barcodesinc.com/generator/image.php?code={{ penugasan.no_surat }}&style=68&type=C128B&width=258&height=50&xres=1&font=3" >
            </p>
        </div>
    </div>

{% endblock %}
