{% extends 'paper_a4_v3_nobox.twig' %}

{% block content %}

    <div class="box">
        <div class="page">
            <br/>
            <table border="0" width="100%">
                <tr>
                    <td style="width:23%;padding-right:15px;">
                        <div style="width:60px;height:70px;"><img src="../resources/images/logo-sumut-bw.png" style="width:60px; float:right; margin-right:-10px;"></div>
                    </td>
                    <td>
                        <div style="text-align: center;float:left; margin-left:45px;">
                            PEMERINTAH PROVINSI SUMATERA UTARA<br/>
                            <b style="font-size:18px">DINAS PENDIDIKAN</b><br/>
                            <b style="font-size:18px">{{ ptk.nama_sekolah }}</b><br/>
                            <div style="font-size:14px;">Alamat :
                                {{ sekolahInduk.alamat_jalan }}</div>

                        </div>
                    </td>
                </tr>
            </table>
            <hr size="2px" color="black">
            <table border="0" width="100%">

                <tbody style="font-size: 11pt">

                    <tr>
                        <td colspan="3" width="100%" align="center" style="padding-bottom: 10px;">
                            <br/>
                            <b style="font-size: 14pt;">
                                <u>SURAT PERMOHONAN</u>
                            </b><br/>
                            <span style="font-size: 12pt;">Nomor :
                                {{ mutasi.no_surat }}</span>
                        </td>
                    </tr>

                    <tr>
                        <td width="5%">Perihal</td>
                        <td>:</td>
                        <td>Permohonan Mutasi</td>
                    </tr>

                    <tr>
                        <td colspan="3"><br>
                            Kepada<br/>
                            Yth. Kepala Dinas Pendidikan
                            <br/>
                            Provinsi Sumatera Utara<br/>
                            <span style="padding: 10px 0 10px 0;">di -
                            </span><br/>
                            Medan
                        </td>
                    </tr>

                </tbody>
            </table>
            <br/>
            <table border="0">
                <tbody style="font-size: 12pt">

                    <tr>
                        <td colspan="3" style="padding-bottom: 10px;">
                            Dengan hormat, yang bertanda tangan di bawah ini :
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 15px;">Nama</td>
                        <td>:</td>
                        <td>{{ ptk.nama }}</td>
                    </tr>

                    <tr>
                        <td style="padding-left: 15px;">NIP</td>
                        <td>:</td>
                        <td>{{ ptk.nip }}</td>
                    </tr>

                    <tr>
                        <td style="padding-left: 15px;">Tempat, Tgl Lahir</td>
                        <td>:</td>
                        <td>{{ ptk.tempat_lahir }},
                            {{ tglLahir }}</td>
                    </tr>

                    <tr>
                        <td style="padding-left: 15px;">Pangkat/Gol. Ruang</td>
                        <td>:</td>
                        <td>{{ ptk.golongan }}</td>
                    </tr>

                    <tr>
                        <td style="padding-left: 15px;">Jabatan</td>
                        <td>:</td>
                        <td>{{ ptk.Jenis_Guru }}</td>
                    </tr>

                    <tr>
                        <td style="padding-left: 15px;">Bidang Studi</td>
                        <td>:</td>
                        <td>{{ ptk.mapel_diajarkan }}</td>
                    </tr>

                    <tr>
                        <td style="padding-left: 15px;">Unit Kerja</td>
                        <td>:</td>
                        <td>{{ ptk.nama_sekolah }}</td>
                    </tr>

                    <tr>
                        <td style="padding-left: 15px;">Alamat</td>
                        <td>:</td>
                        <td style="padding-bottom: 10px;">{{ sekolahInduk.alamat_jalan }}</td>
                    </tr>

                    <tr>
                        <td colspan="3" style="text-align: justify; text-justify: inter-word">
                            Bersama ini kami mengajukan permohonan kepada Bapak kiranya dapat diterima mutasi dari
                            {{ sekolahInduk.nama }}
                            ke
                            {{ sekolahTujuan.nama }}, dengan alasan
                            {{ mutasi.alasan }}.
                        </td>
                    </tr>
                </tbody>
            </table><br><br>
            <table width="100%" border="0" style="font-size: 11pt;">
                <tr>
                    <td width="67%">Mengetahui</td>
                    <td>Medan,
                        {{ tglSurat }}</td>
                </tr>
                <tr>
                    <td>Kepala
                        {{ sekolahInduk.nama }}</td>
                    <td>Hormat Saya</td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-bottom: 40px;"></td>
                </tr>
                <tr>
                    <td style="text-decoration: underline; font-weight: bold;">{{ kepsek.nama }}</td>
                    <td style="text-decoration: underline; font-weight: bold;">{{ ptk.nama }}</td>
                </tr>
                <tr>
                    <td>NIP.
                        {{ kepsek.nip }}</td>
                    <td>NIP.
                        {{ ptk.nip }}</td>
                </tr>
            </table>
            <table>
                <tr>
                    {#<td><img alt="Barcoded value {{ mutasi.no_surat }}"#}
                    {#src="http://bwipjs-api.metafloor.com/?bcid=code128&text={{ mutasi.no_surat }}"></td>#}
                </tr>
            </table>
            <p style="text-align: left; position: absolute; bottom: 5px;">
                <img src="https://www.barcodesinc.com/generator/image.php?code={{ mutasi.no_surat }}&style=68&type=C128B&width=258&height=50&xres=1&font=3" >
            </p>
        </div>
    </div>

{% endblock %}