{% extends 'paper_a4_v3_nobox.twig' %}

{% block content %}
    <style>
        p{
            font-size: 11pt;
        }
    </style>
    <div class="box">
        <div class="page">
            <br/>
            <table border="0" width="100%">
                <tr>
                    <td style="width:23%;padding-right:15px;">
                        <div style="width:60px;height:70px;"><img src="../resources/images/logo-sumut-bw.png" style="width:60px; float:right; margin-right:-70px;"></div>
                    </td>
                    <td>
                        <div style="text-align: center;float:left;">
                            <span style="font-size:16px;">PEMERINTAH PROVINSI SUMATERA UTARA</span><br/>
                            <b style="font-size:18px">DINAS PENDIDIKAN</b><br/>
                            <b style="font-size:18px">{{ ptk.nama_sekolah }}</b><br/>
                            <div style="font-size:14px;">Alamat : {{ sekolah.alamat_jalan }}</div>
                        </div>
                    </td>
                </tr>
            </table>
            <hr size="2px" style="border-style: double;">
            <table style="margin-left: 11cm; font-size: 11pt;">
                <tr>
                    <td colspan="2">Kepada : </td>
                </tr>
                <tr>
                    <td rowspan="4">Yth. :</td>
                {% if pengajuanKartu.jenis_kartu == 3 %}    
                    <td>Kepala PT TASPEN (Persero)</td>
                </tr>
                <tr>
                    <td>Kantor Cabang Utama Sumatera Selatan</td>
                </tr>
                <tr>
                    <td>Di</td>
                </tr><tr>
                    <td align="center"><b><u>Palembang</u></b></td>
                {% else %}
                    <td>Kepala BKPPD</td>
                </tr>
                <tr>
                    <td>Kota Palembang</td>
                </tr>
                <tr>
                    <td>Di</td>
                </tr><tr>
                    <td align="center"><b><u>Palembang</u></b></td>
                {% endif %}
                </tr>
            </table>
            <p style="text-align: center; padding: 10px;">
                <span style="font-size: 14px;"><b><u>SURAT PENGANTAR</u></b></span><br>
                Nomor : {{ pengajuanKartu.no_surat }}
            </p>
            
            <table width="100%" style="font-size: 11pt; border-collapse: collapse;" border="1">
                <tr>
                    <th>No.</th>
                    <th>Jenis Yang Dikirim</th>
                    <th>Banyaknya</th>
                    <th>Keterangan</th>
                </tr>
                <tr>
                    <td>1. </td>
                    <td>
                        Berkas Permohonan Usulan 
                        {% if pengajuanKartu.jenis_kartu == 1 %} KARPEG
                        {% elseif pengajuanKartu.jenis_kartu == 2 %} 
                            {% if ptk.jenis_kelamin == 1 %} Kartu Istri / KARIS
                            {% else %} Kartu Suami / KARSU {% endif %}
                        {% elseif pengajuanKartu.jenis_kartu == 3 %} Kartu Taspen {% endif %}<br>
                        Atas Nama : <br>
                        Nama : {{ ptk.nama }}<br>
                        NIP : {{ ptk.nip }}
                    </td>
                    <td>{{ pengajuanKartu.banyaknya }}</td>
                    <td>{{ pengajuanKartu.keterangan }}</td>
                </tr>
            </table>
            
            <p style="margin-left: 13cm;">
                Palembang, {{ tglSurat }}
                Kepala Sekolah,<br><br><br><br>
                {{ kepsek.nama | upper }}<br>
                NIP: {{ kepsek.nip }}
            </p>
            
            <p style="position: absolute; bottom: 5px;">
                <img src="https://www.barcodesinc.com/generator/image.php?code={{ pengajuanKartu.no_surat }}&style=68&type=C128B&width=258&height=50&xres=1&font=3" >
            </p>
        </div>
    </div>

{% endblock %}