{% extends 'paper_a4_v3_nobox.twig' %}

{% block content %}
    <div class="box">
        <div class="page">
            <br>
            <table border="0" width="100%">
                <tr>
                    <td>Nama</td>
                    <td>:</td>
                    <td>{{ nama }}</td>

                    <td>Total JJM Sesuai</td>
                    <td>:</td>
                    <td>{{ total_jjm_sesuai }}</td>
                </tr>
                <tr>
                    <td>NIP</td>
                    <td>:</td>
                    <td>{{ nip }}</td>

                    <td>Status Dokumen</td>
                    <td>:</td>
                    <td>{{ status_dokumen }}</td>
                </tr>
                <tr>
                    <td>Nuptk</td>
                    <td>:</td>
                    <td>{{ nuptk }}</td>

                    <td>Keterangan SK</td>
                    <td>:</td>
                    <td>
                        {{ kategori_sk_keterangan }}
                    </td>
                </tr>
                <tr>
                    <td>Tempat Tugas</td>
                    <td>:</td>
                    <td>
                        {{ tempat_tugas_dapodik }}
                    </td>

                    <td>Keterangan Perbaikan</td>
                    <td>:</td>
                    <td>
                        {{ keterangan_perbaikan }}
                    </td>
                </tr>
                <tr>
                    <td>JJM</td>
                    <td>:</td>
                    <td>{{ jumlah_jam_mengajar }}</td>

                    <td>Catatan Dari Pusat</td>
                    <td>:</td>
                    <td>{{ catatan_dari_pusat }}</td>

                </tr>
                <tr>
                    <td>JJM Sesuai</td>
                    <td>:</td>
                    <td>
                        {{ jumlah_jam_mengajar_sesuai }}
                    </td>
                </tr>
                <tr>
                    <td>Tugas Tambahan</td>
                    <td>:</td>
                    <td>{{ tugas_tambahan }}</td>

                </tr>
                <tr>
                    <td>Jam Tugas Tambahan</td>
                    <td>:</td>
                    <td>{{ jam_tugas_tambahan }}</td>

                </tr>
            </table><br>
        </div>
    </div>

{% endblock %}
