/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:5 */

.x-tab-bar-default {
    /*
 * This is is imported by virtue of "sass.etc" in "app.json".
 */
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:8 */

.x-box-scroller-tab-bar-default {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:11 */

.x-tree-arrows .x-tree-expander {
    font-size: 16px;
    font-family: FontAwesome;
    color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:16 */

.x-tree-arrows .x-grid-tree-node-expanded .x-tree-expander {
    font-size: 16px;
    font-family: FontAwesome;
    color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:21 */

.x-tree-elbow-end-plus {
    font-size: 14px;
    font-family: FontAwesome;
    color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:26 */

.x-grid-tree-node-expanded .x-tree-elbow-end-plus {
    font-size: 14px;
    font-family: FontAwesome;
    color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:31 */

.x-tree-icon {
    width: 16px;
    height: 32px;
    line-height: 32px;
    color: #feba34 !important;
    font-size: 16px;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:38 */

.x-tree-icon-leaf {
    font-size: 16px;
    font-family: FontAwesome;
    color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:43 */

.x-tree-icon-parent {
    font-size: 16px;
    font-family: FontAwesome;
    color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:48 */

.x-tree-icon-parent-expanded {
    font-size: 16px;
    font-family: FontAwesome;
    color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:53 */

.x-tree-checkbox {
    margin-right: 6px;
    top: 7px;
    width: 18px;
    height: 18px;
    font: 18px/1 ExtJS;
    color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:61 */

.x-toast-light .x-window-header {
    /* Custom styling */
    /* Custom styling */
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:65 */

.x-toast-light .x-tool-img {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:68 */

.x-btn-focus.x-btn-plain-toolbar-small {
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:75 */

.x-btn-plain-toolbar-small.x-arrow-focus .x-btn-arrow-el {
    border: 1px solid #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:78 */

.x-btn-focus.x-btn-over.x-btn-plain-toolbar-small {
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:83 */

.x-btn-focus.x-btn-pressed.x-btn-plain-toolbar-small {
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:88 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-plain-toolbar-small:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:92 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-over.x-btn-plain-toolbar-small:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:96 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-pressed.x-btn-plain-toolbar-small:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:100 */

.x-btn-focus.x-btn-plain-toolbar-medium {
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:107 */

.x-btn-plain-toolbar-medium.x-arrow-focus .x-btn-arrow-el {
    border: 1px solid #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:110 */

.x-btn-focus.x-btn-over.x-btn-plain-toolbar-medium {
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:115 */

.x-btn-focus.x-btn-pressed.x-btn-plain-toolbar-medium {
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:120 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-plain-toolbar-medium:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:124 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-over.x-btn-plain-toolbar-medium:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:128 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-pressed.x-btn-plain-toolbar-medium:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:132 */

.x-btn-focus.x-btn-plain-toolbar-large {
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:139 */

.x-btn-plain-toolbar-large.x-arrow-focus .x-btn-arrow-el {
    border: 1px solid #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:142 */

.x-btn-focus.x-btn-over.x-btn-plain-toolbar-large {
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:147 */

.x-btn-focus.x-btn-pressed.x-btn-plain-toolbar-large {
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:152 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-plain-toolbar-large:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:156 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-over.x-btn-plain-toolbar-large:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:160 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-pressed.x-btn-plain-toolbar-large:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:164 */

.x-panel-header-light .x-tool-focus {
    outline: 1px solid #feba34 !important;
    outline-offset: 1px;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:168 */

.x-edge .x-panel-header-light .x-tool-focus:after {
    position: absolute;
    content: ' ';
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border: 1px solid #feba34 !important;
    pointer-events: none;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:178 */

.x-panel-header-light-framed .x-tool-focus {
    outline: 1px solid #feba34 !important;
    outline-offset: 1px;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:182 */

.x-edge .x-panel-header-light-framed .x-tool-focus:after {
    position: absolute;
    content: ' ';
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border: 1px solid #feba34 !important;
    pointer-events: none;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:192 */

.x-tab-focus.x-tab-navigation {
    border-color: transparent;
    background-color: transparent;
    outline: 1px solid #feba34 !important;
    outline-offset: -3px;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:198 */

.x-edge .x-tab-focus.x-tab-navigation:after {
    position: absolute;
    content: ' ';
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    border: 1px solid #feba34 !important;
    pointer-events: none;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:208 */

.x-panel-navigation {
    border-color: #feba34 !important;
    padding: 0;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:212 */

.x-panel-header-navigation {
    font-size: 20px;
    border: 1px solid #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:216 */

.x-panel-header-navigation .x-tool-tool-el {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:219 */

.x-panel-header-navigation {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:223 */

.x-panel-header-navigation-vertical {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:227 */

.x-rtl.x-panel-header-navigation-vertical {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:231 */

.x-panel-navigation-outer-border-l {
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:235 */

.x-panel-navigation-outer-border-b {
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:239 */

.x-panel-navigation-outer-border-bl {
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:245 */

.x-panel-navigation-outer-border-r {
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:249 */

.x-panel-navigation-outer-border-rl {
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:255 */

.x-panel-navigation-outer-border-rb {
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:261 */

.x-panel-navigation-outer-border-rbl {
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:269 */

.x-panel-navigation-outer-border-t {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:273 */

.x-panel-navigation-outer-border-tl {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:279 */

.x-panel-navigation-outer-border-tb {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:285 */

.x-panel-navigation-outer-border-tbl {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:293 */

.x-panel-navigation-outer-border-tr {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:299 */

.x-panel-navigation-outer-border-trl {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:307 */

.x-panel-navigation-outer-border-trb {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:315 */

.x-panel-navigation-outer-border-trbl {
    border-color: #feba34 !important;
    border-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:320 */

.x-treelist-item-tool {
    color: #feba34 !important;
    font-size: 16px;
    width: 16px;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:325 */

.x-treelist-item-expander {
    color: #feba34 !important;
    font-size: 16px;
    width: 18px;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:330 */

.x-treelist-highlight-path .x-treelist-item-over>*>.x-treelist-item-icon {
    color: #feba34 !important;
    transition: color 0.5s;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:334 */

.x-treelist-highlight-path .x-treelist-item-over>*>.x-treelist-item-expander {
    color: #feba34 !important;
    transition: color 0.5s;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:338 */

.x-treelist-row-over>*>.x-treelist-item-icon {
    color: #feba34 !important;
    transition: color 0.5s;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:342 */

.x-treelist-row-over>*>.x-treelist-item-expander {
    color: #feba34 !important;
    transition: color 0.5s;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:346 */

.x-view-item-focused {
    outline: 1px dashed #feba34 !important;
    outline-offset: -1px;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:350 */

.x-grid-cell-inner-action-col :focus {
    outline: 1px solid #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:353 */

.x-grid-checkcolumn-cell-inner :focus {
    outline: 1px solid #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:356 */

.x-grid-row-expander:focus {
    outline: 1px solid #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:359 */

.x-mask.x-focus {
    border-style: solid;
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:364 */

.x-progress-default {
    background-color: #ececec;
    border-width: 0;
    height: 24px;
    border-color: #feba34 !important;
    border-style: solid;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:371 */

.x-progress-default .x-progress-bar-default {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:375 */

.x-progress-default.x-progress-focus:after {
    position: absolute;
    content: ' ';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0 solid #feba34 !important;
    pointer-events: none;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:385 */

.x-btn-default-small {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 7px 7px 7px 7px;
    border-width: 1px;
    border-style: solid;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:396 */

.x-btn-default-small-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:399 */

.x-btn-focus.x-btn-default-small {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
    -webkit-box-shadow: #d3e0ec 0 1px 0px 0 inset, #d3e0ec 0 -1px 0px 0 inset, #d3e0ec -1px 0 0px 0 inset, #d3e0ec 1px 0 0px 0 inset;
    -moz-box-shadow: #d3e0ec 0 1px 0px 0 inset, #d3e0ec 0 -1px 0px 0 inset, #d3e0ec -1px 0 0px 0 inset, #d3e0ec 1px 0 0px 0 inset;
    box-shadow: #d3e0ec 0 1px 0px 0 inset, #d3e0ec 0 -1px 0px 0 inset, #d3e0ec -1px 0 0px 0 inset, #d3e0ec 1px 0 0px 0 inset;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:406 */

.x-btn.x-btn-disabled.x-btn-default-small {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:410 */

.x-btn-focus .x-btn-default-small-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:413 */

.x-btn.x-btn-disabled .x-btn-default-small-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:416 */

.x-btn-default-medium {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 8px 8px 8px 8px;
    border-width: 1px;
    border-style: solid;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:427 */

.x-btn-default-medium-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:430 */

.x-btn-focus.x-btn-default-medium {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
    -webkit-box-shadow: #d3e0ec 0 1px 0px 0 inset, #d3e0ec 0 -1px 0px 0 inset, #d3e0ec -1px 0 0px 0 inset, #d3e0ec 1px 0 0px 0 inset;
    -moz-box-shadow: #d3e0ec 0 1px 0px 0 inset, #d3e0ec 0 -1px 0px 0 inset, #d3e0ec -1px 0 0px 0 inset, #d3e0ec 1px 0 0px 0 inset;
    box-shadow: #d3e0ec 0 1px 0px 0 inset, #d3e0ec 0 -1px 0px 0 inset, #d3e0ec -1px 0 0px 0 inset, #d3e0ec 1px 0 0px 0 inset;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:437 */

.x-btn.x-btn-disabled.x-btn-default-medium {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:441 */

.x-btn-focus .x-btn-default-medium-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:444 */

.x-btn.x-btn-disabled .x-btn-default-medium-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:447 */

.x-btn-default-large {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 9px 9px 9px 9px;
    border-width: 1px;
    border-style: solid;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:458 */

.x-btn-default-large-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:461 */

.x-btn-focus.x-btn-default-large {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
    -webkit-box-shadow: #d3e0ec 0 1px 0px 0 inset, #d3e0ec 0 -1px 0px 0 inset, #d3e0ec -1px 0 0px 0 inset, #d3e0ec 1px 0 0px 0 inset;
    -moz-box-shadow: #d3e0ec 0 1px 0px 0 inset, #d3e0ec 0 -1px 0px 0 inset, #d3e0ec -1px 0 0px 0 inset, #d3e0ec 1px 0 0px 0 inset;
    box-shadow: #d3e0ec 0 1px 0px 0 inset, #d3e0ec 0 -1px 0px 0 inset, #d3e0ec -1px 0 0px 0 inset, #d3e0ec 1px 0 0px 0 inset;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:468 */

.x-btn.x-btn-disabled.x-btn-default-large {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:472 */

.x-btn-focus .x-btn-default-large-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:475 */

.x-btn.x-btn-disabled .x-btn-default-large-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:478 */

.x-btn-focus.x-btn-default-toolbar-small {
    background-image: none;
    background-color: #f6f6f6;
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:485 */

.x-btn-default-toolbar-small.x-arrow-focus .x-btn-arrow-el {
    border: 1px solid #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:488 */

.x-btn-focus.x-btn-over.x-btn-default-toolbar-small {
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:493 */

.x-btn-focus.x-btn-pressed.x-btn-default-toolbar-small {
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:498 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-default-toolbar-small:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:502 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-over.x-btn-default-toolbar-small:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:506 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-pressed.x-btn-default-toolbar-small:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:510 */

.x-btn-focus.x-btn-default-toolbar-medium {
    background-image: none;
    background-color: #f6f6f6;
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:517 */

.x-btn-default-toolbar-medium.x-arrow-focus .x-btn-arrow-el {
    border: 1px solid #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:520 */

.x-btn-focus.x-btn-over.x-btn-default-toolbar-medium {
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:525 */

.x-btn-focus.x-btn-pressed.x-btn-default-toolbar-medium {
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:530 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-default-toolbar-medium:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:534 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-over.x-btn-default-toolbar-medium:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:538 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-pressed.x-btn-default-toolbar-medium:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:542 */

.x-btn-focus.x-btn-default-toolbar-large {
    background-image: none;
    background-color: #f6f6f6;
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:549 */

.x-btn-default-toolbar-large.x-arrow-focus .x-btn-arrow-el {
    border: 1px solid #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:552 */

.x-btn-focus.x-btn-over.x-btn-default-toolbar-large {
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:557 */

.x-btn-focus.x-btn-pressed.x-btn-default-toolbar-large {
    -webkit-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    -moz-box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
    box-shadow: #feba34 0 1px 0px 0 inset, #feba34 0 -1px 0px 0 inset, #feba34 -1px 0 0px 0 inset, #feba34 1px 0 0px 0 inset !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:562 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-default-toolbar-large:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:566 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-over.x-btn-default-toolbar-large:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:570 */

.x-nbr .x-segmented-button-item.x-btn-focus.x-btn-pressed.x-btn-default-toolbar-large:after {
    border-width: 1px;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:574 */

.x-tool-focus {
    outline: 1px solid #feba34 !important;
    outline-offset: 1px;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:578 */

.x-edge .x-tool-focus:after {
    position: absolute;
    content: ' ';
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border: 1px solid #feba34 !important;
    pointer-events: none;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:588 */

.x-panel-default {
    border-color: #feba34 !important;
    padding: 0;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:592 */

.x-panel-header-default {
    font-size: 16px;
    border: 1px solid #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:596 */

.x-panel-header-default .x-tool-tool-el {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:599 */

.x-panel-header-default {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:603 */

.x-panel-header-default-vertical {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:607 */

.x-rtl.x-panel-header-default-vertical {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:611 */

.x-panel-default-outer-border-l {
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:615 */

.x-panel-default-outer-border-b {
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:619 */

.x-panel-default-outer-border-bl {
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:625 */

.x-panel-default-outer-border-r {
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:629 */

.x-panel-default-outer-border-rl {
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:635 */

.x-panel-default-outer-border-rb {
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:641 */

.x-panel-default-outer-border-rbl {
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:649 */

.x-panel-default-outer-border-t {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:653 */

.x-panel-default-outer-border-tl {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:659 */

.x-panel-default-outer-border-tb {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:665 */

.x-panel-default-outer-border-tbl {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:673 */

.x-panel-default-outer-border-tr {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:679 */

.x-panel-default-outer-border-trl {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:687 */

.x-panel-default-outer-border-trb {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:695 */

.x-panel-default-outer-border-trbl {
    border-color: #feba34 !important;
    border-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:699 */

.x-panel-default-framed {
    border-color: #feba34 !important;
    padding: 0;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:703 */

.x-panel-header-default-framed {
    font-size: 16px;
    border: 2px solid #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:707 */

.x-panel-header-default-framed .x-tool-tool-el {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:710 */

.x-panel-header-default-framed-top {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 14px 10px 14px;
    border-width: 2px 2px 0 2px;
    border-style: solid;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:728 */

.x-panel-header-default-framed-top-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:731 */

.x-panel-header-default-framed-right {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 14px 10px 14px 10px;
    border-width: 2px 2px 2px 0;
    border-style: solid;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:749 */

.x-rtl.x-panel-header-default-framed-right {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:753 */

.x-panel-header-default-framed-right-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:756 */

.x-panel-header-default-framed-bottom {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 14px 10px 14px;
    border-width: 0 2px 2px 2px;
    border-style: solid;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:774 */

.x-panel-header-default-framed-bottom-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:777 */

.x-panel-header-default-framed-left {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 14px 10px 14px 10px;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:795 */

.x-rtl.x-panel-header-default-framed-left {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:799 */

.x-panel-header-default-framed-left-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:802 */

.x-panel-header-default-framed-collapsed-top {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 14px 10px 14px;
    border-width: 2px;
    border-style: solid;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:820 */

.x-panel-header-default-framed-collapsed-top-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:823 */

.x-panel-header-default-framed-collapsed-right {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 14px 10px 14px 10px;
    border-width: 2px;
    border-style: solid;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:841 */

.x-rtl.x-panel-header-default-framed-collapsed-right {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:845 */

.x-panel-header-default-framed-collapsed-right-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:848 */

.x-panel-header-default-framed-collapsed-bottom {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 14px 10px 14px;
    border-width: 2px;
    border-style: solid;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:866 */

.x-panel-header-default-framed-collapsed-bottom-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:869 */

.x-panel-header-default-framed-collapsed-left {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 14px 10px 14px 10px;
    border-width: 2px;
    border-style: solid;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:887 */

.x-rtl.x-panel-header-default-framed-collapsed-left {
    background-image: none;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:891 */

.x-panel-header-default-framed-collapsed-left-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:894 */

.x-panel-default-framed-outer-border-l {
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:898 */

.x-panel-default-framed-outer-border-b {
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:902 */

.x-panel-default-framed-outer-border-bl {
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:908 */

.x-panel-default-framed-outer-border-r {
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:912 */

.x-panel-default-framed-outer-border-rl {
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:918 */

.x-panel-default-framed-outer-border-rb {
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:924 */

.x-panel-default-framed-outer-border-rbl {
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:932 */

.x-panel-default-framed-outer-border-t {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:936 */

.x-panel-default-framed-outer-border-tl {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:942 */

.x-panel-default-framed-outer-border-tb {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:948 */

.x-panel-default-framed-outer-border-tbl {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:956 */

.x-panel-default-framed-outer-border-tr {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:962 */

.x-panel-default-framed-outer-border-trl {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
    border-left-color: #feba34 !important;
    border-left-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:970 */

.x-panel-default-framed-outer-border-trb {
    border-top-color: #feba34 !important;
    border-top-width: 1px !important;
    border-right-color: #feba34 !important;
    border-right-width: 1px !important;
    border-bottom-color: #feba34 !important;
    border-bottom-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:978 */

.x-panel-default-framed-outer-border-trbl {
    border-color: #feba34 !important;
    border-width: 1px !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:982 */

.x-window-default {
    border-color: #feba34 !important;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    -o-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:990 */

.x-window-body-default {
    border-color: #feba34 !important;
    border-width: 1px;
    border-style: solid;
    background: #fff;
    color: #000;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1000 */

.x-window-header-default {
    font-size: 16px;
    border-color: #feba34 !important;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1005 */

.x-window-header-default .x-tool-img {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1008 */

.x-window-header-default-top {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 14px 10px 14px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1026 */

.x-window-header-default-top-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1029 */

.x-window-header-default-right {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 14px 10px 14px 10px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1047 */

.x-window-header-default-right-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1050 */

.x-window-header-default-bottom {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 14px 10px 14px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1068 */

.x-window-header-default-bottom-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1071 */

.x-window-header-default-left {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 14px 10px 14px 10px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1089 */

.x-window-header-default-left-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1092 */

.x-window-header-default-collapsed-top {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 14px 10px 14px;
    border-width: 2px;
    border-style: solid;
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1110 */

.x-window-header-default-collapsed-top-mc {
    background-image: url(images/checkered-pattern.png), linear-gradient(to right, rgb(255, 128, 8), rgb(255, 200, 55)) !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1372 */

.x-accordion-item .x-accordion-hd {
    background: #ececec;
    border-width: 0;
    border-color: #feba34 !important;
    padding: 12px 10px;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1378 */

.x-accordion-item .x-accordion-hd-sibling-expanded {
    border-top-color: #feba34 !important;
    border-top-width: 0;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1382 */

.x-accordion-hd .x-tool-img {
    background-image: url(images/tools/tool-sprites-dark.png);
    background-color: #ececec;
    color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1387 */

.x-slider-focus .x-slider-thumb {
    background-color: #f6f6f6;
    border-color: #feba34 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1391 */

.x-tab-focus.x-tab-default {
    border-color: transparent;
    background-color: transparent;
    outline: 1px solid #feba34 !important;
    outline-offset: -3px;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1397 */

.x-edge .x-tab-focus.x-tab-default:after {
    position: absolute;
    content: ' ';
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    border: 1px solid #feba34 !important;
    pointer-events: none;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1409 */

.x-btn-inner-default-toolbar-small {
    font-weight: 500 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1413 */

.x-form-item-label-default {
    font-weight: 500 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1417 */

.x-form-display-field-default {
    font-weight: 500 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1421 */

.x-grid-item {
    font-weight: 500 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1425 */

.x-column-header {
    font-weight: 600 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1429 */

.x-panel-header-title-default {
    font-weight: 600 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1433 */

.x-tab-inner-default {
    font-weight: 600 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1437 */

.x-window-header-title-default {
    font-weight: 600 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1441 */

.x-form-text-default {
    font-weight: 500 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1445 */

.x-btn-inner-default-small {
    font-weight: 500 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1449 */

.x-fieldset-header-default>.x-fieldset-header-text {
    font-weight: 600 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1453 */

.x-form-cb-label-default {
    font-weight: 500 !important;
}

/* /var/www/simpak-palembang-2018/web/sass/etc/all.scss:1457 */

.x-toolbar-text-default {
    font-weight: 500 !important;
}

.x-menu-item-default.x-menu-item-active {
    background-image: none;
    background-color: #feba34 !important;
}

.x-nlg .x-menu-item-default.x-menu-item-active {
    background: #feba34 repeat-x left top !important;
    background-image: url(images/menu/menu-item-default-active-bg.gif);
}

.x-menu-item-default-menubar.x-menu-item-active {
    background-image: none;
    background-color: #feba34 !important;
}

.x-nlg .x-menu-item-default-menubar.x-menu-item-active {
    background: #feba34 repeat-x left top !important;
    background-image: url(images/menu/menu-item-default-menubar-active-bg.gif);
}

.button-ico .x-btn-icon-el-default-toolbar-small{
    color: #fff !important;
}