<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Dinas Pendidikan Provinsi Sumatera Utara" />
        <meta name="keywords" content="Epak, Emutasi, Sumatera Utara" />
        <meta name="author" content="Nufaza" />

        <title>E-PAK & E-Mutasi Disdik Prov. Sumatera Utara</title>

        <link rel="shortcut icon" href="{{ dir }}/assets/img/sumut-logo.png" type="image/png" />
        <link rel="icon" href="{{ dir }}/assets/img/sumut-logo.png" type="image/png" />
        <!-- google font -->
        <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>        
        <link href='https://fonts.googleapis.com/css?family=BioRhyme' rel='stylesheet'>
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />

        <link rel="stylesheet" href="{{ dir }}/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ dir }}/assets/css/style.min.css" />
        <link rel="stylesheet" href="{{ dir }}/assets/css/custom.css" />
    </head>

    <body>
        <div id="preloader" class="loader-wrapper">
            <div class="loader">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>

        <header class="header-area" style="background-color: #3c4252">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="main-nav">
                            <div class="cont_logo"> 
                                <a class="logo">
                                        <div class="cont_logo_img">   
                                            <img class="logos" src="{{ dir }}/assets/img/sumut-logo.png" alt="Sumut" />  
                                        </div>
                                        <div class="cont_kotak">
                                            <p class="text" style="font-family: 'Arial Black', Gadget, sans-serif;font-size: 13px;">PEMERINTAH PROVINSI SUMATERA UTARA</p>
                                            <p class="text" style="margin-top: -5px;font-family: 'Arial Black', Gadget, sans-serif;font-size: 28px;font-weight: bold;">DINAS PENDIDIKAN</p>
                                            <p class="text" style="margin-top: -5px; font-family: 'BioRhyme'; font-size:10px; font-style: italic">Motto: "Pendidikan untuk Semua, Semua Mendidik"</p>
                                        </div>
                                </a>                
                            </div>
                            
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        
        <section class="section toppest blurred" style="min-height:  90vh;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="center-heading" style="padding-bottom: 40px">
                            <h2 class="section-title" style="color: #fafafa">Fitur Untuk Guru</h2>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <!-- <div class="col-lg-4 col-md-6 col-sm-12">
                        <a href="http://simrasio.gtk.kemdikbud.go.id:2017/" class="home-services-item" target="_blank">
                            <img src="{{ dir }}/assets/img/icons/portal.png" alt="SIM RASIO 2017" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/portal.png" alt="Portal Web" />

                            <h5 class="services-title">SIM RASIO <br/> 2017</h5>
                        </a>
                    </div> -->

                    <div class="col-lg-4 col-md-6 col-sm-12 col-md-offset-2">
                        <a href="epak" class="home-services-item">
                            <img src="{{ dir }}/assets/img/icons/helpdesk.png" alt="SIM RASIO" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/helpdesk.png" alt="Bantuan" />

                            <h5 class="services-title">E-PAK</h5>
                        </a>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <a href="/emutasi/index.html" class="home-services-item">
                            <img src="{{ dir }}/assets/img/icons/management.png" alt="SIM RASIO 2018" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/management.png" alt="Manajemen" />

                            <h5 class="services-title">E-MUTASI</h5>
                        </a>
                    </div>


                    
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-10 col-md-offset-4">
                        <a href="logout" class="home-services-item">
                            <img src="{{ dir }}/assets/img/icons/logout.png" alt="Keluar" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/logout.png" alt="Keluar" />

                            <h5 class="services-title">Keluar</h5>
                        </a>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="http://monev.ditpsd.net/login" class="home-services-item" target="_blank">
                            <img src="{{ dir }}/assets/img/icons/e-monev.png" alt="E-Monev" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/e-monev.png" alt="E-Monev" />

                            <h5 class="services-title">E-Monev</h5>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="http://dss.takola.ditpsd.net/" class="home-services-item" target="_blank">
                            <img src="{{ dir }}/assets/img/icons/dss.png" alt="DSS" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/dss.png" alt="DSS" />

                            <h5 class="services-title">DSS</h5>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="http://newtakola.ditpsd.net/download" class="home-services-item" target="_blank">
                            <img src="{{ dir }}/assets/img/icons/verification.png" alt="Verifikasi" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/verification.png" alt="Verifikasi" />

                            <h5 class="services-title">Verifikasi</h5>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="http://newtakola.ditpsd.net/download" class="home-services-item" target="_blank">
                            <img src="{{ dir }}/assets/img/icons/progress.png" alt="Progres" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/progress.png" alt="Progres" />

                            <h5 class="services-title">Progress</h5>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="https://jaga.id/" class="home-services-item" target="_blank">
                            <img src="{{ dir }}/assets/img/icons/jaga.png" alt="Jaga KPK" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/jaga.png" alt="Jaga KPK" />

                            <h5 class="services-title">Jaga <br />KPK</h5>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="http://223.27.146.119:8888/index.html" class="home-services-item" target="_blank">
                            <img src="{{ dir }}/assets/img/icons/syncing-takola.png" alt="Takola Sync" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/syncing-takola.png" alt="Takola Sync" />

                            <h5 class="services-title">Takola <br />Sync</h5>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="https://play.google.com/store/apps/details?id=id.or.checkmy" class="home-services-item" target="_blank">
                            <img src="{{ dir }}/assets/img/icons/syncing-jaga.png" alt="Sinkronisasi Jaga KPK Takola" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/syncing-jaga.png" alt="Sinkronisasi Jaga KPK Takola" />

                            <h5 class="services-title">Sinkronisasi Jaga KPK Takola</h5>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="https://data.dikdasmen.kemdikbud.go.id:2019/manage#" class="home-services-item" target="_blank">
                            <img src="{{ dir }}/assets/img/icons/syncing-dapodik.png" alt="Sinkronasi Dapodikdasmen" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/syncing-dapodik.png" alt="Sinkronasi Dapodikdasmen" />

                            <h5 class="services-title">Sinkronisasi Dapodikdasmen</h5>
                        </a>
                    </div> -->
                </div>
            </div>
        </section>

        <!-- <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="center-heading" style="padding-bottom: 40px">
                            <h2 class="section-title">Layanan Takola</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="http://bantuan.takola.ditpsd.net/" class="home-services-item" target="_blank">
                            <img src="{{ dir }}/assets/img/icons/help.png" alt="Bantuan" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/help.png" alt="Bantuan" />

                            <h5 class="services-title">Bantuan</h5>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="http://forum.takola.ditpsd.net/" class="home-services-item" target="_blank">
                            <img src="{{ dir }}/assets/img/icons/forum.png" alt="Forum" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/forum.png" alt="Forum" />

                            <h5 class="services-title">Forum</h5>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="http://takola.ditpsd.net/registration" class="home-services-item" target="_blank">
                            <img src="{{ dir }}/assets/img/icons/registration.png" alt="Registrasi" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/registration.png" alt="Registrasi" />

                            <h5 class="services-title">Registrasi</h5>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="https://t.me/joinchat/HB1NW0ca65UPMeAsuwb3wQ" class="home-services-item" target="_blank">
                            <img src="{{ dir }}/assets/img/icons/telegram.png" alt="Group Telegram" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/telegram.png" alt="Group Telegram" />

                            <h5 class="services-title">Group Telegram</h5>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section blurred">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="center-heading" style="padding-bottom: 40px">
                            <h2 class="section-title" style="color: #fafafa">Unduhan</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <a href="http://newtakola.ditpsd.net/download/progres" class="home-services-item" target="_blank">
                            <img src="{{ dir }}/assets/img/icons/file-progress.png" alt="Progres" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/file-progress.png" alt="Progres" />

                            <h5 class="services-title">Progres</h5>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <a href="http://newtakola.ditpsd.net/download/verval" class="home-services-item" target="_blank">
                            <img src="{{ dir }}/assets/img/icons/file-verval.png" alt="Verval" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/file-verval.png" alt="Verval" />

                            <h5 class="services-title">Verval</h5>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <a href="http://newtakola.ditpsd.net/download/ppt" class="home-services-item" target="_blank">
                            <img src="{{ dir }}/assets/img/icons/file-ppt.png" alt="PowerPoint" />

                            <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/file-ppt.png" alt="PowerPoint" />

                            <h5 class="services-title">PowerPoint</h5>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="center-heading" style="padding-bottom: 40px">
                                    <h2 class="section-title">Panduan</h2>
                                </div>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="http://newtakola.ditpsd.net/download/manual" class="home-services-item" target="_blank">
                                    <img src="{{ dir }}/assets/img/icons/guide.png" alt="Manual-manual Aplikasi" />
        
                                    <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/guide.png" alt="Manual-manual Aplikasi" />
        
                                    <h5 class="services-title">Manual Aplikasi</h5>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="center-heading" style="padding-bottom: 40px">
                                    <h2 class="section-title">Media Pendukung</h2>
                                </div>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#" class="home-services-item" target="_blank">
                                    <img src="{{ dir }}/assets/img/icons/support.png" alt="Video-video, Infograpis, dll." />
        
                                    <img class="hovered" src="{{ dir }}/assets/img/icons/hovered/support.png" alt="Video-video, Infograpis, dll." />
        
                                    <h5 class="services-title">Video, Infograpis, dll.</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="copyright">© 2019 Disdik Prov. Sumatera Utara</p>
                    </div>
                </div>
            </div>
        </footer>

        <a href="#0" class="cd-top js-cd-top">Top</a>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <script src="{{ dir }}/assets/js/bootstrap.min.js"></script>
        <script src="{{ dir }}/assets/js/functions.js"></script>
    </body>
</html>