<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Simpeg Pendidikan Gunungkidul" />
    <meta name="keywords" content="Simpeg Pendidikan Gunungkidul" />
    <meta name="author" content="Simpeg Pendidikan Gunungkidul" />
    
    <title>Simpeg Pendidikan Gunungkidul</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,700i,800|Raleway:300,400,400i,500,600,700,700i,800,900" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/animate.css" />
  </head>

  <body>
    <div class="wrapper">
      <!-- <div class="header">
        <div class="top-header">
          <div class="container-fluid">
            <div class="logo clearfix">
              <img src="./assets/img/logo.png" alt="Simpeg Pendidikan Gunungkidul" />

              <div class="logo-text">
                  SIM Penataan dan Pemetaan Guru
              </div>
            </div>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fas fa-home"></i> <span class="sr-only">(current)</span></a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dataMaster" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Data Master
                </a>

                <div class="dropdown-menu" aria-labelledby="dataMaster">
                  <a class="dropdown-item" href="#">Guru PNS</a>
                  <a class="dropdown-item" href="#">Guru Non PNS</a>
                  <a class="dropdown-item" href="#">Tendik</a>
                  <a class="dropdown-item" href="#">Pengawas</a>
                  <a class="dropdown-item" href="#">Pegawai</a>
                  <a class="dropdown-item" href="#">Kepala Sekolah</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="kenaikanPangkat" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Kenaikan Pangkat
                </a>

                <div class="dropdown-menu" aria-labelledby="kenaikanPangkat">
                  <a class="dropdown-item" href="#">PTK</a>
                  <a class="dropdown-item" href="#">Pegawai</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="kgb" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  KGB
                </a>

                <div class="dropdown-menu" aria-labelledby="kgb">
                  <a class="dropdown-item" href="#">PTK</a>
                  <a class="dropdown-item" href="#">Pegawai</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="mutasi" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Mutasi
                </a>

                <div class="dropdown-menu" aria-labelledby="mutasi">
                  <a class="dropdown-item" href="#">Simulasi (SIM Rasio Pusat)</a>
                  <a class="dropdown-item" href="#">Usulan</a>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Penugasan</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Kegiatan</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Pengajuan Kartu</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Pengaturan</a>
              </li>
            </ul>

            <ul class="navbar-nav my-2 my-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Informasi Pengguna</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </div> -->

      <div class="content">
        <div class="inner-content">
          <div class="section">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <div class="mainslider">
                    <div class="owl-carousel owl-theme">
                      <div class="item">
                        <img src="./assets/img/sliders/1.jpg" alt="" />
                      </div>

                      <div class="item">
                        <img src="./assets/img/sliders/2.jpg" alt="" />
                      </div>

                      <div class="item">
                        <img src="./assets/img/sliders/3.jpg" alt="" />
                      </div>

                      <div class="item">
                        <img src="./assets/img/sliders/4.jpg" alt="" />
                      </div>

                      <div class="item">
                        <img src="./assets/img/sliders/5.jpg" alt="" />
                      </div>

                      <div class="item">
                        <img src="./assets/img/sliders/6.jpg" alt="" />
                      </div>

                      <div class="item">
                        <img src="./assets/img/sliders/7.jpg" alt="" />
                      </div>

                      <div class="item">
                        <img src="./assets/img/sliders/8.jpg" alt="" />
                      </div>

                      <div class="item">
                        <img src="./assets/img/sliders/9.jpg" alt="" />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="statistic clearfix">
                    <div class="statistic-block guru-bg">
                      <h4>Data Guru</h4>

                      <div class="statistic-value">
                          14858 <span>Orang</span>
                      </div>
                    </div>

                    <div class="statistic-block tendik-bg">
                      <h4>Data Tendik</h4>

                      <div class="statistic-value">
                          0 <span>Orang</span>
                      </div>
                    </div>

                    <div class="statistic-block kepsek-bg">
                      <h4>Data Kepsek</h4>

                      <div class="statistic-value">
                          0 <span>Orang</span>
                      </div>
                    </div>

                    <div class="statistic-block pensiun-bg">
                      <h4>Pensiun</h4>

                      <div class="statistic-value">
                          0 <span>Orang</span>
                      </div>
                    </div>

                    <div class="statistic-block pak-bg padhide">
                      <h4>Penilaian PAK</h4>

                      <div class="statistic-value">
                          1 <span>Orang</span>
                      </div>
                    </div>

                    <div class="statistic-block pangkat-bg padhide">
                      <h4>Kenaikan Pangkat</h4>

                      <div class="statistic-value">
                          0 <span>Orang</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <div class="datatable-box">
                    <h3>Rekap Jumlah Guru dan Tendik Berdasarkan <span>Jenjang</span></h3>

                    <div class="table-responsive">
                      <table id="jenjang-data" class="table table-striped table-bordered" style="width: 100%">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>Bentuk Pendidikan</th>
                            <th>Negeri</th>
                            <th>Swasta</th>
                            <th>Total</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>TK</td>
                            <td>427</td>
                            <td>342</td>
                            <td>769</td>
                          </tr>

                          <tr>
                            <td>2</td>
                            <td>KB</td>
                            <td>31</td>
                            <td>34</td>
                            <td>65</td>
                          </tr>

                          <tr>
                            <td>3</td>
                            <td>SPS</td>
                            <td>3</td>
                            <td>3</td>
                            <td>6</td>
                          </tr>

                          <tr>
                            <td>4</td>
                            <td>TPA</td>
                            <td>354</td>
                            <td>34</td>
                            <td>388</td>
                          </tr>

                          <tr>
                            <td>5</td>
                            <td>SD</td>
                            <td>5</td>
                            <td>3</td>
                            <td>8</td>
                          </tr>

                          <tr>
                            <td>6</td>
                            <td>SMP</td>
                            <td>4</td>
                            <td>343</td>
                            <td>347</td>
                          </tr>
                          
                          <tr>
                            <td>7</td>
                            <td>SMA</td>
                            <td>2</td>
                            <td>542</td>
                            <td>544</td>
                          </tr>

                          <tr>
                            <td>8</td>
                            <td>SMK</td>
                            <td>667</td>
                            <td>768</td>
                            <td>1.453</td>
                          </tr>
                        </tbody>
                        
                        <tfoot>
                          <tr>
                            <th></th>
                            <th>Total</th>
                            <th>1.493</th>
                            <th>2.087</th>
                            <th>3.580</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="datatable-box">
                    <h3>Rekap Jumlah Guru dan Tendik Berdasarkan <span>Status</span></h3>
                    
                    <div class="table-responsive">
                      <table id="status-data" class="table table-striped table-bordered" style="width: 100%">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>Bentuk Pendidikan</th>
                            <th>Guru PNS</th>
                            <th>Guru Non PNS</th>
                            <th>Tendik</th>
                            <th>Total</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>TK</td>
                            <td>43</td>
                            <td>52</td>
                            <td>43</td>
                            <td>138</td>
                          </tr>

                          <tr>
                            <td>2</td>
                            <td>KB</td>
                            <td>34</td>
                            <td>34</td>
                            <td>34</td>
                            <td>102</td>
                          </tr>

                          <tr>
                            <td>3</td>
                            <td>SPS</td>
                            <td>45</td>
                            <td>4</td>
                            <td>34</td>
                            <td>83</td>
                          </tr>

                          <tr>
                            <td>4</td>
                            <td>TPA</td>
                            <td>42</td>
                            <td>4</td>
                            <td>3</td>
                            <td>49</td>
                          </tr>

                          <tr>
                            <td>5</td>
                            <td>SD</td>
                            <td>42</td>
                            <td>52</td>
                            <td>3</td>
                            <td>97</td>
                          </tr>

                          <tr>
                            <td>6</td>
                            <td>SMP</td>
                            <td>4</td>
                            <td>3</td>
                            <td>3</td>
                            <td>35</td>
                          </tr>
                          
                          <tr>
                            <td>7</td>
                            <td>SMA</td>
                            <td>334</td>
                            <td>554</td>
                            <td>54</td>
                            <td>942</td>
                          </tr>

                          <tr>
                            <td>8</td>
                            <td>SMK</td>
                            <td>452</td>
                            <td>343</td>
                            <td>343</td>
                            <td>1.138</td>
                          </tr>
                        </tbody>
                        
                        <tfoot>
                          <tr>
                            <th></th>
                            <th>Total</th>
                            <th>995</th>
                            <th>1.046</th>
                            <th>549</th>
                            <th>2.590</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="container-fluid">
          <div class="copyrights">
            <p>Copyrights © 2017 Disdikpora Kab. Gunungkidul</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  
    <script src="./assets/js/owl.carousel.min.js"></script>

    <script>

      $(document).ready(function() {
        $('#jenjang-data').DataTable({
          "paging"    : false,
          "ordering"  : false,
          "info"      : false,
          "searching" : false
        });

        $('#status-data').DataTable({
          "paging"    : false,
          "ordering"  : false,
          "info"      : false,
          "searching" : false
        });

        $('.owl-carousel').owlCarousel({
          loop: true,
          margin: 10,
          nav: false,
          autoplay: true,
          autoplayTimeout: 4000,
          autoplayHoverPause: true,
          animateOut: 'fadeOut',
          animateIn: 'fadeIn',
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 1
            },
            1000: {
              items: 1
            }
          }
        })
    } );
    </script>
  </body>
</html>