<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Disdikpora Kab. Gunungkidul</title>
	<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="resources/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i' rel='stylesheet' type='text/css'>

            <style>
                .jssorb05 {
                    position: absolute;
                }
                .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
                    position: absolute;
                    /* size of bullet elment */
                    width: 16px;
                    height: 16px;
                    background: url(resources/images/b05.png) no-repeat;
                    overflow: hidden;
                    cursor: pointer;
                }
                .jssorb05 div { background-position: -7px -7px; }
                .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
                .jssorb05 .av { background-position: -67px -7px; }
                .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

                   .jssora11l, .jssora11r {
                    display: block;
                    position: absolute;
                    /* size of arrow element */
                    width: 37px;
                    height: 37px;
                    cursor: pointer;
                    background: url(resources/images/a11.png) no-repeat;
                    overflow: hidden;
                }
                .jssora11l { background-position: -11px -41px; }
                .jssora11r { background-position: -71px -41px; }
                .jssora11l:hover { background-position: -131px -41px; }
                .jssora11r:hover { background-position: -191px -41px; }
                .jssora11l.jssora11ldn { background-position: -251px -41px; }
                .jssora11r.jssora11rdn { background-position: -311px -41px; }
            </style>

</head>
<body style="padding:0px; margin:0px; background-color:#fff;font-family:helvetica, arial, verdana, sans-serif">

<div id='part1' style='width:100%;'>
	<div class='container-fluid' >
		
<div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto;margin-top:1.5px; width: 1140px; height: 350px; overflow: hidden;">

            <!-- Loading Screen -->
            <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;

                background-color: #000; top: 0px; left: 0px;width: 100%; height:100%;">
                </div>
                <div style="position: absolute; display: block; background: url(resources/images/loading.gif) no-repeat center center;

                top: 0px; left: 0px;width: 100%;height:100%;">
                </div>
            </div>

            <!-- Slides Container -->
            <div u="slides" style="position: absolute; left: 0px; top: 0px; width: 1140px; height: 350px;
            overflow: hidden;">
                <div>
                    <img u="image" src="resources/images/slide/7767-IMG_0139.JPG" />
                </div>
                <div>
                    <img u="image" src="resources/images/slide/7017-SMKN-1-BERINGIN-3.jpg" />
                </div>
                <div>
                    <img u="image" src="resources/images/slide/5606-SMKN-1-BERINGIN-2.jpg" />
                </div>
                <div>
                    <img u="image" src="resources/images/slide/2693-Untitled.jpg" />
                </div>
            </div>
            
            <!-- bullet navigator container -->
            <div u="navigator" class="jssorb05" style="bottom: 16px; right: 6px;">
                <!-- bullet navigator item prototype -->
                <div u="prototype"></div>
            </div>

            <!-- Arrow Left -->
            <span u="arrowleft" class="jssora11l" style="top: 123px; left: 8px;">
            </span>
            <!-- Arrow Right -->
            <span u="arrowright" class="jssora11r" style="top: 123px; right: 8px;">
            </span>
            <!--#endregion Arrow Navigator Skin End -->
            <a style="display: none" href="http://www.jssor.com">Bootstrap Carousel</a>
        </div>

        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="resources/js/jquery-1.9.1.min.js"></script>
    <script src="resources/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="resources/js/ie10-viewport-bug-workaround.js"></script>

    <!-- jssor slider scripts-->
    <!-- use jssor.slider.debug.js for debug -->
    <script type="text/javascript" src="resources/js/jssor.slider.mini.js"></script>
    <script>

        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $Idle: 2000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,                          //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0,                                   //[Optional] Space between each slide in pixels, default value is 0
                $Cols: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $Cols is greater than 1, or parking position is not 0)

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Scale: false                                   //Scales bullets navigator or not while slider scale
                },

                $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Rows: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 12,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 4,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1,                                //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                    $Scale: false                                   //Scales bullets navigator or not while slider scale
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizing
            function ScaleSlider() {
                var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                if (parentWidth) {
                    jssor_slider1.$ScaleWidth(parentWidth - 30);
                }
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
    

	</div>
<div>
<!--  End Header  -->
<!--  Start Body  -->

<div class="container-fluid" style="padding-top:10px;">
	<div class="page-content-inner">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >
                                    <div class="dashboard-stat2 " style="background-color:#eeeeee;">
                                        <div class="display">
                                        <div class="header-info" style="width:100%; font-size:12pt;font-face:century Gothic; color:#ff9f1a;text-align:center; padding:10px;"><b>
                                            DATA GURU</b>
                                        </div>
											<div class="number">
                                                <h3 class="font-green-sharp" style="text-align:center; margin-top:-10px">
                                                    <span data-counter="counterup" data-value="10638" style="font-size:30pt;">{{ guru }}</span> Orang
                                                    <!--small class="font-green-sharp">sekolah</small-->
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="progress-info">
                                            <div class="footer-info"style="width:100%; background-color:#3eae2c; font-size:12pt;font-face:century Gothic; color:white;text-align:center; padding:10px;">
                                            {% if login == false %}<a href="login" style="color: inherit;text-decoration: inherit;">Lihat Detail</a>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat2 " style="background-color:#eeeeee;">
                                        <div class="display">
                                        <div class="header-info" style="width:100%; font-size:12pt;font-face:century Gothic; color:#ff9f1a;text-align:center; padding:10px;"><b>
                                            MUTASI</b>
                                        </div>
											<div class="number">
                                                <h3 class="font-green-sharp" style="text-align:center; margin-top:-10px">
                                                    <span data-counter="counterup" data-value="10638" style="font-size:30pt;">{{ mutasi }}</span> Orang
                                                    <!--small class="font-green-sharp">sekolah</small-->
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="progress-info">
                                            <div class="footer-info"style="width:100%; background-color:#fbbc05; font-size:12pt;font-face:century Gothic; color:white;text-align:center; padding:10px;">
                                            {% if login == false %}<a href="login" style="color: inherit;text-decoration: inherit;">Lihat Detail</a>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat2 " style="background-color:#eeeeee;">
                                        <div class="display">
                                        <div class="header-info" style="width:100%; font-size:12pt;font-face:century Gothic; color:#ff9f1a;text-align:center; padding:10px;"><b>
                                            PENILAIAN PAK</b> 
                                        </div>
											<div class="number">
                                                <h3 class="font-green-sharp" style="text-align:center; margin-top:-10px">
                                                    <span data-counter="counterup" data-value="10638" style="font-size:30pt;">{{penilaianpak}}</span> Orang
                                                    <!--small class="font-green-sharp">sekolah</small-->
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="progress-info">
                                            <div class="footer-info"style="width:100%; background-color:#ea4335; font-size:12pt;font-face:century Gothic; color:white;text-align:center; padding:10px;">
                                            {% if login == false %}<a href="login" style="color: inherit;text-decoration: inherit;">Lihat Detail</a>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat2 " style="background-color:#eeeeee;">
                                        <div class="display">
                                        <div class="header-info" style="width:100%; font-size:12pt;font-face:century Gothic; color:#ff9f1a;text-align:center; padding:10px;"><b>
                                            KENAIKAN PANGKAT</b>
                                        </div>
											<div class="number">
                                                <h3 class="font-green-sharp" style="text-align:center; margin-top:-10px">
                                                    <span data-counter="counterup" data-value="10638" style="font-size:30pt;">{{ kenaikan }}</span> Orang 
                                                    <!--small class="font-green-sharp">sekolah</small-->
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="progress-info">
                                            <div class="footer-info"style="width:100%; background-color:#4285f4; font-size:12pt;font-face:century Gothic; color:white;text-align:center; padding:10px;">
                                            {% if login == false %}<a href="login" style="color: inherit;text-decoration: inherit;">Lihat Detail</a>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if login == false %}
                            <br/>
                            <div class="row">
                                <div class="col-lg-6" >
                                    {% if login == false %}<a href="login" type="button" class="btn btn-info btn-lg btn-block" {% endif %}style="font-size: 20pt">MASUK <br/> SIM PENATAAN DAN PEMETAAN GURU</a>
                                </div>
                            </div>
                            <br/>
                            {% else %}
                            <div style="margin-top: 25px;"></div>
                            {% endif %}
</div>
</div>
<div class="footer-app" style="width:100%;background-color:#769a75;text-align:center;color:white;">
<i>Copyright &copy; 2018 Dinas Pendidikan Provinsi Sumatera Utara</i></div>

<script src="resources/js/bootstrap.min.js"></script>

</body>
</html>

<!--  End Body  -->
