<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Simpak Provinsi Sumatera Utara" />
    <meta name="keywords" content="Simpak Provinsi Sumatera Utara" />
    <meta name="author" content="Simpak Provinsi Sumatera Utara" />
    
    <title>Simpak Provinsi Sumatera Utara</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,700i,800|Raleway:300,400,400i,500,600,700,700i,800,900" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/animate.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="content">
        <div class="inner-content">
          <div class="section">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <div class="mainslider">
                    <div class="owl-carousel owl-theme">
                      <div class="item">
                        <img src="./assets/img/sliders/5606-SMKN-1-BERINGIN-2.jpg" alt="" />
                      </div>

                      <div class="item">
                        <img src="./assets/img/sliders/7017-SMKN-1-BERINGIN-3.jpg" alt="" />
                      </div>

                      <div class="item">
                        <img src="./assets/img/sliders/7767-IMG_0139.JPG" alt="" />
                      </div>

                      <div class="item">
                        <img src="./assets/img/sliders/4.jpg" alt="" />
                      </div>
                      
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="statistic clearfix">
                    <div class="statistic-block pangkat-bg">
                      <h4>Kenaikan Pangkat</h4>

                      <ul class="statistic-value">
                        <li>Belum Diproses <span class="jml-number">72</span></li>
                        <li>Dalam Proses <span class="jml-number">14</span></li>
                        <li>Selesai <span class="jml-number">23</span></li>
                      </ul>
                    </div>

                    <div class="statistic-block gaji-bg">
                      <h4>Kenaikan Gaji Berkala</h4>

                      <ul class="statistic-value">
                        <li>Belum Diproses <span class="jml-number">45</span></li>
                        <li>Dalam Proses <span class="jml-number">14</span></li>
                        <li>Selesai <span class="jml-number">23</span></li>
                      </ul>
                    </div>

                    <div class="statistic-block mutasi-bg padhide">
                      <h4>Mutasi</h4>

                      <ul class="statistic-value">
                        <li>Diajukan <span class="jml-number">54</span></li>
                        <li>Dalam Proses Usulan <span class="jml-number">33</span></li>
                        <li>Selesai <span class="jml-number">21</span></li>
                      </ul>
                    </div>

                    <div class="statistic-block penugasan-bg padhide">
                      <h4>Penugasan</h4>

                      <ul class="statistic-value">
                        <li>Total Penugasan <span class="jml-number">60</span></li>
                        <li>Dalam Proses <span class="jml-number">14</span></li>
                        <li>Selesai <span class="jml-number">23</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <div class="statistic clearfix">
                    <div class="statistic-block guru-bg padhide">
                      <h4>Data Guru</h4>

                      <ul class="statistic-value">
                        <li>Guru PNS <span class="jml-number">5.407</span></li>
                        <li>Guru Non PNS <span class="jml-number">5.081</span></li>
                        <li>Total Guru <span class="jml-number">10.488</span></li>
                      </ul>
                    </div>

                    <div class="statistic-block tendik-bg padhide">
                      <h4>Data Tendik</h4>

                      <ul class="statistic-value">
                        <li>Jumlah Pengawas <span class="jml-number">112</span></li>
                        <li>Tendik Lainnya <span class="jml-number">2.081</span></li>
                        <li>Total Tendik <span class="jml-number">2.193</span></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="statistic clearfix">
                    <div class="statistic-block pak-bg padhide">
                      <h4>Penilaian PAK</h4>

                      <ul class="statistic-value">
                        <li>Belum Diproses <span class="jml-number">504</span></li>
                        <li>Dalam Proses <span class="jml-number">14</span></li>
                        <li>Selesai <span class="jml-number">23</span></li>
                      </ul>
                    </div>

                    <div class="statistic-block kartu-bg padhide">
                      <h4>Pengajuan Kartu</h4>

                      <ul class="statistic-value">
                        <li>Diajukan <span class="jml-number">50</span></li>
                        <li>Dalam Proses <span class="jml-number">14</span></li>
                        <li>Selesai <span class="jml-number">26</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <div class="datatable-box">
                    <h3>Rekap Jumlah Guru dan Tendik Berdasarkan <span>Jenjang</span></h3>

                    <div class="table-responsive">
                      <table id="jenjang-data" class="table table-striped table-bordered" style="width: 100%">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>Bentuk Pendidikan</th>
                            <th>Negeri</th>
                            <th>Swasta</th>
                            <th>Total</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>TK</td>
                            <td>427</td>
                            <td>342</td>
                            <td>769</td>
                          </tr>

                          <tr>
                            <td>2</td>
                            <td>KB</td>
                            <td>31</td>
                            <td>34</td>
                            <td>65</td>
                          </tr>

                          <tr>
                            <td>3</td>
                            <td>SPS</td>
                            <td>3</td>
                            <td>3</td>
                            <td>6</td>
                          </tr>

                          <tr>
                            <td>4</td>
                            <td>TPA</td>
                            <td>354</td>
                            <td>34</td>
                            <td>388</td>
                          </tr>

                          <tr>
                            <td>5</td>
                            <td>SD</td>
                            <td>5</td>
                            <td>3</td>
                            <td>8</td>
                          </tr>

                          <tr>
                            <td>6</td>
                            <td>SMP</td>
                            <td>4</td>
                            <td>343</td>
                            <td>347</td>
                          </tr>
                          
                          <tr>
                            <td>7</td>
                            <td>SMA</td>
                            <td>2</td>
                            <td>542</td>
                            <td>544</td>
                          </tr>

                          <tr>
                            <td>8</td>
                            <td>SMK</td>
                            <td>667</td>
                            <td>768</td>
                            <td>1.453</td>
                          </tr>
                        </tbody>
                        
                        <tfoot>
                          <tr>
                            <th></th>
                            <th>Total</th>
                            <th>1.493</th>
                            <th>2.087</th>
                            <th>3.580</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="datatable-box">
                    <h3>Rekap Jumlah Guru dan Tendik Berdasarkan <span>Status</span></h3>
                    
                    <div class="table-responsive">
                      <table id="status-data" class="table table-striped table-bordered" style="width: 100%">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>Bentuk Pendidikan</th>
                            <th>Guru PNS</th>
                            <th>Guru Non PNS</th>
                            <th>Tendik</th>
                            <th>Total</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>TK</td>
                            <td>43</td>
                            <td>52</td>
                            <td>43</td>
                            <td>138</td>
                          </tr>

                          <tr>
                            <td>2</td>
                            <td>KB</td>
                            <td>34</td>
                            <td>34</td>
                            <td>34</td>
                            <td>102</td>
                          </tr>

                          <tr>
                            <td>3</td>
                            <td>SPS</td>
                            <td>45</td>
                            <td>4</td>
                            <td>34</td>
                            <td>83</td>
                          </tr>

                          <tr>
                            <td>4</td>
                            <td>TPA</td>
                            <td>42</td>
                            <td>4</td>
                            <td>3</td>
                            <td>49</td>
                          </tr>

                          <tr>
                            <td>5</td>
                            <td>SD</td>
                            <td>42</td>
                            <td>52</td>
                            <td>3</td>
                            <td>97</td>
                          </tr>

                          <tr>
                            <td>6</td>
                            <td>SMP</td>
                            <td>4</td>
                            <td>3</td>
                            <td>3</td>
                            <td>35</td>
                          </tr>
                          
                          <tr>
                            <td>7</td>
                            <td>SMA</td>
                            <td>334</td>
                            <td>554</td>
                            <td>54</td>
                            <td>942</td>
                          </tr>

                          <tr>
                            <td>8</td>
                            <td>SMK</td>
                            <td>452</td>
                            <td>343</td>
                            <td>343</td>
                            <td>1.138</td>
                          </tr>
                        </tbody>
                        
                        <tfoot>
                          <tr>
                            <th></th>
                            <th>Total</th>
                            <th>995</th>
                            <th>1.046</th>
                            <th>549</th>
                            <th>2.590</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="container-fluid">
          <div class="copyrights">
            <p>Copyrights © 2018 Dinas Pendidikan Provinsi Sumatera Utara</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  
    <script src="./assets/js/owl.carousel.min.js"></script>

    <script>

      $(document).ready(function() {
        $('#jenjang-data').DataTable({
          "paging"    : false,
          "ordering"  : false,
          "info"      : false,
          "searching" : false
        });

        $('#status-data').DataTable({
          "paging"    : false,
          "ordering"  : false,
          "info"      : false,
          "searching" : false
        });

        $('.owl-carousel').owlCarousel({
          loop: true,
          margin: 10,
          nav: false,
          autoplay: true,
          autoplayTimeout: 4000,
          autoplayHoverPause: true,
          animateOut: 'fadeOut',
          animateIn: 'fadeIn',
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 1
            },
            1000: {
              items: 1
            }
          }
        })
    } );
    </script>
  </body>
</html>