<!DOCTYPE HTML>
<html manifest="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">

    <link href='resources/css/app.css' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="resources/images/logo-sumut-ico.png">

    <title>Aplikasi Perhitungan Angka Kredit Guru</title>

    <!--
    <script type="text/javascript">
        var Ext = Ext || {}; // Ext namespace won't be defined yet...

        // This function is called by the Microloader after it has performed basic
        // device detection. The results are provided in the "tags" object. You can
        // use these tags here or even add custom tags. These can be used by platform
        // filters in your manifest or by platformConfig expressions in your app.
        //
        Ext.beforeLoad = function (tags) {
            var s = location.search,  // the query string (ex "?foo=1&bar")
                profile;

            // For testing look for "?classic" or "?modern" in the URL to override
            // device detection default.
            //
            if (s.match(/\bclassic\b/)) {
                profile = 'classic';
            }
            else if (s.match(/\bmodern\b/)) {
                profile = 'modern';
            }
            else {
                profile = tags.desktop ? 'classic' : 'modern';
                //profile = tags.phone ? 'modern' : 'classic';
            }

            Ext.manifest = profile; // this name must match a build profile name

            // This function is called once the manifest is available but before
            // any data is pulled from it.
            //
            //return function (manifest) {
                // peek at / modify the manifest object
            //};
        };
    </script>
    -->

    <!-- The line below must be kept intact for Sencha Cmd to build your application -->
    <script id="microloader" data-app="5073cc72-478a-4fbd-84f1-c938d9396e0b" type="text/javascript" src="bootstrap.js"></script>

</head>
<body>
    <form>
    {% for key, a in user %}
        <input type="hidden" name="{{key}}" value="{{a}}">
    {% endfor %}
        <input type="hidden" name="lastUpdate" value="{{lastUpdate}}">
    </form>
</body>
</html>
